{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'return submitOpinia();', 'id': 'form-opinia'}}) }}
<div class="field">
    {{ form_widget(form.content, {'attr': {'class': 'form-opinia-content', 'placeholder': form.content.vars.label }}) }}
</div>
<div class="field">
    {{ form_widget(form.name, {'attr': {'class': 'form-opinia-name', 'placeholder': form.name.vars.label }}) }}
</div>
<div class="field">
    {{ form_widget(form.age, {'attr': {'class': 'form-opinia-age', 'placeholder': form.age.vars.label }}) }}
</div>
<div class="field">
    {{ form_widget(form.city, {'attr': {'class': 'form-opinia-city', 'placeholder': form.city.vars.label }}) }}
</div>
<div class="field">
    {{ form_widget(form.submit, {'attr': {'class': 'wyslij' }}) }}
</div>
{{ form_end(form) }}
