{% extends '::base.html.twig' %}

{% block title %}Opinie pacjentów - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var opinie_loading = false;
        var opinie_loading_page = 1;
        var opinie_loading_allow = {{ allow }};

        $(window).scroll(function () {
            if ($(window).scrollTop() > ($(document).height() - $(window).height() - $('footer').outerHeight() - 150)) {
                if (opinie_loading_allow == true && opinie_loading == false) {
                    opinie_loading = true;
                    $('.loadmoreajaxloader').show();
                    $.ajax({
                        type: 'post',
                        url: '{{ path('ls_main_opinia_ajax_more') }}',
                        data: {
                            page: opinie_loading_page
                        },
                        success: function (response) {
                            opinie_loading_page++;
                            opinie_loading_allow = response.allow;
                            $(".opinie-feed").append(response.html);
                            $('.loadmoreajaxloader').hide();
                            $('.opinie-feed').find('.single').columnize({width: 317, lastNeverTallest: true});
                            $('.opinie-feed').find('.single').removeClass('single');
                            opinie_loading = false;
                        }
                    });
                }
            }
        });

        $(document).ready(function () {
            $('.opinie-feed').find('.single').columnize({width: 317, lastNeverTallest: true});
            $('.opinie-feed').find('.single').removeClass('single');
        });
    </script>
{% endblock %}

{% block contentright %}
    <div class="content-container opinie-list-container">
        <h1 class="content-title">Opinie pacjentów</h1>

        <h3 class="content-subtitle">Referencje:</h3>

        <div class="opinie-feed">
            {% include "LsMainBundle:Opinia:list.html.twig" with {'entities': entities} %}
        </div>
        <div class="loadmoreajaxloader" style="display:none;">
            <img src="{{ asset('bundles/lsmain/images/ajax-loader.gif') }}" />
        </div>
    </div>
{% endblock %}

{% block contentleft %}
    <div class="news">
        {% include "LsMainBundle::news_left.html.twig" with {'news': news} %}
    </div>
    <div class="zespol">
        {% include "LsMainBundle::zespol_left.html.twig" with {'zespol': zespol} %}
    </div>
{% endblock %}