<div class="page single">
    {% for opinia in entities %}
        <div class="item dontsplit">
            <div class="text">{{ opinia.content|nl2br }}</div>
            <div class="rest">{{ opinia.name }}{% if opinia.age %}, {{ opinia.age }}{% endif %}{% if opinia.city %}, {{ opinia.city }}{% endif %}</div>
            <div class="separator"></div>
        </div>
    {% endfor %}
</div>
