{% extends '::base.html.twig' %}

{% block title %}Aktualności - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block contentright %}
    <div class="content-container news-container">
        <h1 class="content-title">Aktualności</h1>

        <h3 class="content-subtitle">Najnowsze informacje:</h3>

        <div class="item">
            {% if entity.getPhotoWebPath != null %}
                <div class="photo">
                    <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}" />
                </div>
            {% endif %}
            <div class="rest{% if entity.getPhotoWebPath != null %} has-photo{% endif %}">
                <div class="date">{{ entity.publishedat|date('d.m.Y') }}</div>
                <div class="title">{{ entity.title }}</div>

                <div class="separator"></div>
                <div class="content-text">{{ entity.content|raw }}</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block contentleft %}
    <div class="zespol">
        {% include "LsMainBundle::zespol_left.html.twig" with {'zespol': zespol} %}
    </div>
    <div class="opinie">
        {% include "LsMainBundle::opinia_left.html.twig" %}
    </div>
{% endblock %}