@media screen and (min-width: 1169px) {

    .container {
        width: 1152px;
    }

    #top {
        height: 70px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 9999;
    }

    #top .container {
        height: 70px;
    }

    #top .container #logo {
        float: left;
        width: 149px;
        height: 40px;
        text-indent: -5000px;
        background: url('../images/1152/logo.png') no-repeat 0 0;
        margin: 15px 0 0;
    }

    #top .container #menu_top {
        float: right;
        margin: 28px 0 0;
        padding: 0;
        list-style: none;
    }

    #top .container #menu_top > li {
        float: left;
        margin: 0;
        padding: 0;
    }

    #top .container #menu_top > li + li {
        margin: 0 0 0 37px;
    }

    #top .container #menu_top > li a {
        font-family: 'open_sansbold', sans-serif;
        display: block;
        margin: 0;
        padding: 0;
        color: #000;
        font-size: 14px;
        line-height: 24px;
    }

    #top .container #menu_top > li a:hover, #top .container #menu_top > li a.active {
        color: #0e71b0;
        text-decoration: none;
    }

    #main .bg {
        background: url('../images/bg_main_fix.jpg') no-repeat center center;
        min-height: 100%;
        position: relative;
        min-width: 1152px;
    }

    #main .container {
        position: static;
    }

    #main .container > div {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 270px;
        margin: auto;
    }

    #main .container > div h1 {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 72px;
        font-family: 'open_sanslight', sans-serif;
        line-height: 80px;
    }

    #main .container > div h1 b {
        font-family: 'open_sansbold', sans-serif;
        font-weight: normal;
    }

    #main .container > div .separate {
        display: block;
        width: 30px;
        height: 5px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #fff;
        margin: 49px auto 0;
    }

    #main .container > div .first_row {
        width: 512px;
        overflow: hidden;
        margin: 64px auto 0;
    }

    #main .container > div .first_row .meet_us {
        float: left;
        width: 249px;
        height: 65px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #23a9e1;
        text-align: center;
        line-height: 65px;
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        font-size: 18px;
    }

    #main .container > div .first_row .meet_us:hover {
        color: #0e71b0;
        text-decoration: none;
    }

    #main .container > div .first_row .go_to_offer {
        margin: 0 16px 0 0;
        float: right;
        line-height: 65px;
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        font-size: 18px;
        text-decoration: underline;
    }

    #main .container > div .first_row .go_to_offer:hover {
        color: #59cdfd;
    }

    #main .container > div .second_row {
        width: 512px;
        overflow: hidden;
        margin: 40px auto 0;
    }

    #main .container > div .second_row .order_service {
        display: block;
        width: 249px;
        height: 65px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #23a9e1;
        text-align: center;
        line-height: 65px;
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        font-size: 18px;
        margin: 0 auto;
        cursor: pointer;
    }

    #main .container > div .second_row .order_service:hover {
        color: #0e71b0;
        text-decoration: none;
    }

    #about .rectangle_about {
        position: absolute;
        top: 224px;
        width: 100%;
        height: 443px;
        background: url('../images/1152/rectangle_about.png') center center no-repeat;
        z-index: 0;
    }

    /*#about .bg {*/
    /*background: url('../images/bg_about_fix.jpg') no-repeat center center;*/
    /*min-height: 100%;*/
    /*position: relative;*/
    /*min-width: 1152px;*/
    /*}*/
    #about .container {
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*right: 0;*/
    }

    #about .container .left {
        width: 480px;
        text-align: center;
        overflow: hidden;
        font-family: 'open_sanslight', sans-serif;
        font-size: 60px;
        line-height: 60px;
        color: #fff;
        position: absolute;
        left: 0;
        top: 400px;
        height: 230px;
        padding: 0;
        margin: 0;
    }

    #about .container .left span {
        font-size: 150px;
        font-family: 'open_sansbold', sans-serif;
        line-height: 150px;
    }

    #about .container .right {
        position: absolute;
        right: 4px;
        top: 298px;
        width: 560px;
        overflow: hidden;

    }

    #about .container .right h2 {
        margin: 0 0 34px;
        padding: 0;
        font-family: 'open_sanslight', sans-serif;
        font-size: 60px;
        line-height: 60px;
        color: #fff;
        font-weight: normal;
    }

    #about .container .right p {
        padding: 0 3px;
        margin: 0 0 25px;
        font-family: 'open_sansregular', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
    }

    #about .container .right p.head {
        font-family: 'open_sansbold', sans-serif;
        font-size: 18px;
    }

    #differences {
        height: 900px;
        background: #1f2e3a;
        position: relative;
        padding: 77px 0 0;
        min-width: 1152px;
        z-index: 2;
    }

    #differences h2 {
        padding: 11px 0 19px;
        margin: 0 0 67px;
        border-top: 2px solid #1d2b36;
        border-bottom: 2px solid #1d2b36;
        line-height: 63px;
        overflow: hidden;
        text-align: center;
        color: #fff;
        font-family: 'open_sanslight', sans-serif;
        font-size: 60px;
        min-width: 1152px;
    }

    #differences h2 b {
        font-family: 'open_sansbold', sans-serif;
    }

    #differences .differences_container {
        width: 100%;
        height: 659px;
        min-width: 1152px;
        position: relative;
    }

    #differences .differences_container > div {
        width: 20%;
        height: 659px;
        float: left;
        position: relative;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
    }

    #differences .differences_container > div:hover {
        height: 696px;
        margin: -37px 0 0;
        background: #fff !important;
        cursor: pointer;
        position: relative;
        /*z-index: 2;*/
    }

    #differences .differences_container > div > div {
        width: 100%;
        position: absolute;
        top: 225px;
        padding: 110px 0 0;
        text-align: center;
    }

    #differences .differences_container > div:hover > div {
        width: 100%;
        position: absolute;
        top: 274px;
        padding: 110px 0 0;
        text-align: center;
    }

    #differences .differences_container > div > div span {
        display: block;
        font-family: 'open_sansregular', sans-serif;
        color: #fff;
        font-size: 30px;
        line-height: 36px;
    }

    #differences .differences_container > div > div span::after {
        width: 23px;
        height: 2px;
        background: #fff;
        content: "";
        margin: 21px auto 0;
        display: block;
    }

    #differences .differences_container > div > div p {
        display: none;
    }

    #differences .differences_container > div:hover > div {
        position: absolute;
        padding: 0;
    }

    #differences .differences_container > div:hover > div span {
        color: #0a1f3b;
    }

    #differences .differences_container > div:hover > div span::after {
        background: #0a1f3b;
        margin: 17px auto 0;
    }

    #differences .differences_container > div:hover > div p {
        display: block;
        max-width: 304px;
        min-width: 230px;
        margin: 17px auto 0;
        font-family: 'open_sansregular', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #0a1f3b;
    }

    #differences .differences_container > div.experience {
        background: #0a1f3b url('../images/1152/bg_differences_experience.png') top center no-repeat;
    }

    #differences .differences_container > div.experience > div {
        background: url('../images/icon_experience.png') center 14px no-repeat;
    }

    #differences .differences_container > div.lore {
        background: #213d62 url('../images/1152/bg_differences_lore.png') top center no-repeat;
    }

    #differences .differences_container > div.lore > div {
        background: url('../images/icon_lore.png') center 13px no-repeat;
    }

    #differences .differences_container > div.technology {
        background: #0f689e url('../images/1152/bg_differences_technology.png') top center no-repeat;
    }

    #differences .differences_container > div.technology > div {
        background: url('../images/icon_technology.png') center top no-repeat;
    }

    #differences .differences_container > div.professionalism {
        background: #213d62 url('../images/1152/bg_differences_professionalism.png') top center no-repeat;
    }

    #differences .differences_container > div.professionalism > div {
        background: url('../images/icon_professionalism.png') center 13px no-repeat;
    }

    #differences .differences_container > div.quality {
        background: #0a1f3b url('../images/1152/bg_differences_quality.png') top center no-repeat;
    }

    #differences .differences_container > div.quality > div {
        background: url('../images/icon_quality.png') center 19px no-repeat;
    }

    #experience .container {
        height: auto;
        padding: 0;
    }

    #experience .container .our_experience {
        float: left;
        width: 500px;
        margin: 91px 0 0;
    }

    #experience .container .our_experience h3 {
        font-family: 'open_sanslight', sans-serif;
        color: #0a1f3b;
        line-height: 60px;
        font-size: 60px;
        padding: 0;
        margin: 0 0 34px;
    }

    #experience .container .our_experience p {
        font-family: 'open_sansregular', sans-serif;
        color: #0a1f3b;
        line-height: 24px;
        font-size: 14px;
        padding: 0;
        margin: 0 0 24px;
    }

    #experience .container .our_experience p.head {
        font-family: 'open_sansbold', sans-serif;
        color: #0a1f3b;
        font-size: 18px;
    }

    #experience .container .our_experience h3 b {
        display: block;
        font-family: 'open_sansbold', sans-serif;
    }

    #experience .container .recomendations {
        background: url('../images/1152/bg_quote.png') no-repeat 0 0;
        float: right;
        width: 441px;
        height: 305px;
        margin: 124px 53px 0 0;
        position: relative;
    }

    #experience .container .recomendations .example-pager {
        position: absolute;
        right: 0;
        bottom: 53px;
    }

    #experience .container .recomendations .example-pager span {
        float: left;
        background: #d2f2ff;
        width: 14px;
        height: 14px;
        margin: 0 0 0 9px;
        cursor: pointer;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
    }

    #experience .container .recomendations .example-pager span.cycle-pager-active {
        background: #59cdfd;
    }

    #experience .container .recomendations .item {
        width: 413px;
        height: 224px;
        margin: 14px;
    }

    #experience .container .recomendations .item .content {
        padding: 0 37px;
        height: 224px;
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        line-height: 24px;
        font-family: 'open_sansbold', sans-serif;
    }

    #experience .container .recomendations .item .content .quote {
        color: #0a1f3b;
        font-size: 18px;
    }

    #experience .container .recomendations .item .content .quote::after {
        content: "-";
        color: #23a9e1;
        display: block;
        line-height: 26px;
    }

    #experience .container .recomendations .item .content .author {
        color: #23a9e1;
        line-height: 18px;
    }

    #experience .container .recomendations .item .content .author b {
        color: #0a1f3b;
        display: block;
    }

    #experience .container .realizations h3, #experience .container .trusted h3 {
        font-family: 'open_sanslight', sans-serif;
        font-size: 36px;
        line-height: 72px;
        color: #0a1f3b;
        position: relative;
    }

    #experience .container .trusted .trusted_carousel {
        height: 110px;
        overflow: hidden;
        margin: 21px 0 17px;
        width: 100% !important;
    }

    #experience .container .trusted .trusted_carousel .item {
        width: 230px;
        height: 110px;
        line-height: 110px;
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #experience .container .trusted .trusted_carousel .item img {
        max-height: 110px;
        max-width: 230px;
    }

    #experience .container .realizations {
        height: 270px;
        margin: 34px 0 0;
    }

    #experience .container .realizations .realization_1 {
        float: left;
        height: 239px;
        width: 559px;
        background: url('../images/1152/bg_realization_1.png') no-repeat 0 0;
        margin: -57px 0 0;
    }

    #experience .container .realizations .realization_1 div, #experience .container .realizations .realization_2 div {
        font-family: 'open_sansbold', sans-serif;
        line-height: 36px;
        font-size: 30px;
        height: 174px;
        width: 559px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        position: relative;
        color: #fff;
        text-shadow: 0 1px 1px #115a97;
    }

    #experience .container .realizations .realization_1 div a, #experience .container .realizations .realization_2 div a {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
    }

    #experience .container .realizations .realization_1 div a:hover, #experience .container .realizations .realization_2 div a:hover {
        color: #0e71b0;
    }

    #experience .container .realizations .realization_1 div {
        top: 65px;

    }

    #experience .container .realizations .realization_2 {
        float: right;
        height: 252px;
        width: 559px;
        background: url('../images/1152/bg_realization_2.png') no-repeat 0 0;
        margin: -70px 0 0;
    }

    #experience .container .realizations .realization_2 div {
        top: 78px;
    }

    #experience .container .trusted {
        margin: 55px 0 0;
    }

    #offer .rectangle_offer {
        position: absolute;
        background: url('../images/1152/rectangle_ofert.png') no-repeat 0 0;
        width: 568px;
        height: 675px;
        left: 329px;
        top: -51px;
    }

    #offer h2 {
        line-height: 60px;
        font-size: 60px;
        font-family: 'open_sanslight', sans-serif;
        color: #fff;
        text-align: center;
        margin: 91px 0 84px;
        padding: 0;
    }

    #offer .item, #base .container .item {
        width: 275px;
        height: 231px;
        overflow: hidden;
        float: left;
        margin: 0 16px 17px 0;
        position: relative;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: center;
    }

    #offer .item h4, #base .container .item h4 {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 30px;
        line-height: 36px;
        font-family: 'open_sansbold', sans-serif;
        min-height: 72px;
        display: block;
    }

    #offer .item > div, #base .container .item > div {
        position: absolute;
        width: 275px;
        top: 51px;
    }

    #offer .item a, #base .container .item a {
        line-height: 24px;
        font-size: 14px;
        color: #fff;
        text-decoration: underline;
        font-family: 'open_sansbold', sans-serif;
        position: relative;
        z-index: 2;
    }

    #offer .item img, #base .container .item img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    #offer .item a:hover, #base .container .item a:hover {
        color: #59cdfd;
    }

    #offer .item a::before, #base .container .item a::before {
        display: block;
        content: "  ";
        font-family: 'open_sanslight', sans-serif;
        margin: 14px 0 10px;
        color: #fff !important;
        white-space: pre;
    }

    #offer .item:nth-of-type(4n + 1), #base .container .item:nth-of-type(4n + 1) {
        margin: 0 0 17px 0;
    }

    .main #offer .go_to_offer {
        margin: 30px auto;
        line-height: 65px;
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        font-size: 18px;
        text-decoration: underline;
        display: block;
        width: 300px;
        text-align: center;
    }

    .main #offer .go_to_offer:hover {
        color: #59cdfd;
    }

    #contact .rectangle_contact {
        background: url('../images/1152/rectangle_contact.png') no-repeat center center;
        height: 742px;
        position: absolute;
        top: 28px;
        left: 0;
        width: 100%;
        pointer-events: none;
        z-index: 1;
    }

    #contact .container {
        height: 671px;
    }

    #contact #map_canvas {
        height: 372px;
        width: 100%;
        min-width: 1152px;
    }

    #contact h3 {
        font-family: 'open_sanslight', sans-serif;
        color: #0a1f3b;
        line-height: 60px;
        font-size: 48px;
        padding: 0;
        margin: 97px 0 34px;
    }

    #contact h3 b {
        display: block;
        font-family: 'open_sansbold', sans-serif;
    }

    #contact .content {
        position: relative;
        font-size: 18px;
        line-height: 24px;
        color: #0a1f3b;
        font-family: 'open_sansbold', sans-serif;
    }

    #contact .content p {
        padding: 0;
        margin: 0;
    }

    #contact .content a {
        color: #0a1f3b;
    }
	
	#contact .content a.rzetelna-firma-logo {
		bottom: 31%;
		position: absolute;
		z-index: 1005;
		right: 45%;
		z-index: 1005;
	}
	#contact .content a.rzetelna-firma-logo.small-visible {
		display: none;
	}

    #contact .content p::after {
        display: block;
        content: "-";
    }

    #contact .content span {
        font-family: 'open_sansregular', sans-serif;
    }

    #contact .content h4 {
        padding: 0;
        margin: 35px 0 18px;
        font-size: 36px;
        line-height: 36px;
        color: #23a9e1;
        font-family: 'open_sanslight', sans-serif;
    }

    #contact .content .tel {
        color: #0a1f3b;
    }

    #contact .content .left {
        float: left;
        overflow: hidden;
        width: 336px;
    }

    #contact .content .right {
        float: right;
        overflow: hidden;
        width: 390px;
    }

    #contact .content .serwis {
        position: absolute;
        overflow: hidden;
        left: 336px;
        top: -3px;
        height: 181px;
        width: 386px;
        background: url('../images/bg_contact_serwis.png') no-repeat 0 0;
        padding: 3px 48px 0;
    }

    #contact .content .serwis h4 {
        font-family: 'open_sansregular', sans-serif;
    }

    #contact .content .serwis p {
        color: #fff;
    }

    #contact .content .serwis a {
        color: #fff;
    }

    #contact .content .serwis p .tel {
        color: #fff;
    }

    #footer .container {
        height: auto;
    }

    #footer .container #menu_bottom {
        float: left;
        margin: 30px 0;
        padding: 0;
        list-style: none;
    }

    #footer .container #menu_bottom li {
        float: left;
        margin: 0;
        padding: 0;
    }

    #footer .container #menu_bottom li + li {
        margin: 0 0 0 37px;
    }

    #footer .container #menu_bottom li a {
        /*font-family: 'open_sansregular', sans-serif; //bardzo zły pomysł*/
        font-family: 'open_sansbold', sans-serif;
        display: block;
        margin: 0;
        padding: 0;
        color: #0a1f3b;
        font-size: 12px;
        line-height: 24px;
    }

    #footer .container #menu_bottom li a:hover, #footer .container #menu_bottom li a.active {
        color: #0e71b0;
        text-decoration: none;
        font-family: 'open_sansbold', sans-serif;
    }

    #footer #footer_info {
        margin: 30px 0;
        float: right;
        font-size: 12px;
        line-height: 24px;
        color: #0a1f3b;
        font-family: 'open_sansregular', sans-serif;
        text-align: right;
    }

    #footer #footer_info a {
        font-family: 'open_sansbold', sans-serif;
        color: #0a1f3b;
        cursor: pointer;
    }

    #footer #footer_info a.lemonade {
        display: inline-block;
        padding: 0 0 0 28px;
        background: url('../images/lemonade_logo.png') no-repeat left bottom;
    }

    #footer #footer_info a:hover {
        color: #0e71b0;
        text-decoration: none;
    }

    #top.site {
        position: relative;
    }

    #base .container {
        height: auto;
        min-height: 830px;
        position: relative;
        z-index: 1;
    }

    #base .container .content {
        padding: 0 0 40px 0;
        color: #fff;
        overflow: hidden;
        background: url('../images/1152/offer_gate.png') no-repeat 538px 14px;
    }

    #base .container .content.no-bg {
        background: none;
    }

    #base .container .content .left, #base .container .content .right {
        width: 580px;
        float: left;
        margin: 0 20px 0 0;
    }

    #base .container .content .right {
        width: 552px;
        margin: 0;
    }

    #base .container .content h2 {
        padding: 0;
        margin: 126px 0 33px;
        font-size: 60px;
        line-height: 60px;
        font-family: 'open_sansbold', sans-serif;
        white-space: nowrap;
    }

    #base .container.product .content h2 {
        padding: 0;
        margin: 126px 0 33px;
        white-space: nowrap;
    }

    #base .container .content p {
        padding: 0;
        margin: 0 0 24px;
        font-family: 'open_sansregular', sans-serif;
        line-height: 24px;
        font-size: 14px;
    }

    #base .container .content p.head {
        font-family: 'open_sansbold', sans-serif;
        font-size: 18px;
    }

    #base .background {
        position: absolute;
        top: 70px;
        left: 0;
        height: 830px;
        width: 100%;
        background: url('../images/bg_main_fix.jpg') no-repeat 0 0 fixed;
        z-index: 0;
    }

    #base .background.product {
        height: 330px;
        background: url('../images/bg_product.jpg') no-repeat 0 0;
    }

    #base .certificates {
        overflow: hidden;
    }

    #base .certificates h3 {
        margin: 74px 0 65px;
        padding: 0;
        color: #0a1f3b;
        font-family: 'open_sanslight', sans-serif;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }

    #base .certificates > div {
        overflow: hidden;
        margin: 0 auto 60px;
        text-align: center;
    }

    #base .certificates > div img {
        display: inline-block;
        width: 97px;
        height: 97px;
        margin: 0 16px 16px 17px;
    }

    #base .container.product .content .left {
        float: none;
        width: 100%;
    }


    #base .container.product .content .right {
        float: none;
        width: 100%;
    }

    #base .container .content .left .element {
        overflow: hidden;
        margin: 24px 0 0;
    }

    #base .container .content .left .element.special {
        overflow: hidden;
        margin: -24px 0 0;
    }

    #base .container .content .left .element + .element {
        margin: 0;
    }

    #base .container .content .left .element h3 {
        font-size: 30px;
        color: #23a9e1;
        line-height: 32px;
        font-family: 'open_sanssemibold', sans-serif;
        padding: 20px 0 14px;
        margin: 0;
    }

    #base .container .content .left .element .desc {
        overflow: hidden;
        color: #0a1f3b;
        font-family: 'open_sansregular', sans-serif;
        font-size: 14px;
        line-height: 24px;
        margin: 0 0 24px;
    }

    #base .container .content .left .element .to-hide {
        overflow: hidden;

        color: #0a1f3b;
        margin: 0;
        padding: 0;
    }

    #base .container .content .left .element .to-hide p {
        margin: 0 0 24px;
        padding: 0;
    }

    #base .container .content .left .element .to-hide ul {
        overflow: hidden;
        display: block;
        margin: 5px 0 29px;
        padding: 0;
        list-style: none;
    }

    #base .container .content .left .element .to-hide ul li {
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0 9px;
        background: url('../images/li-dot.png') no-repeat 0 9px;
    }

    #base .container .content .left .element .to-hide .element_items {
        overflow: hidden;
        margin: -14px 0 0;
        padding: 0 0 34px;
    }

    #base .container .content .left .element .to-hide .element_item {
        overflow: hidden;
        float: left;
        width: 137px;
        margin: 14px 32px 0 0;
        font-family: 'open_sansregular', sans-serif;
        font-size: 12px;
    }

    #base .container .content .left .element .to-hide .element_item a {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        cursor: pointer;
    }

    #base .container .content .left .element .to-hide .element_item img {
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        margin: 0 0 11px;
        width: 137px;
        height: 115px;
    }


    #base .container .content .left .element .to-hide .element_item a span.mask {
        overflow: hidden;
        width: 137px;
        height: 115px;
        background: url('../images/gallery_mask.png') no-repeat 0 0;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    #base .container .content .left .element .to-hide .element_item a:hover span.mask {
        display: block;
    }

    #base .container .content .left .element .to-hide .element_item:nth-child(7n) {
        margin: 14px 0 0;
    }

    #base .container .content .left .element .to-hide .element_item:nth-child(7n + 1) {
        clear: left;
    }

    #base .container .content .left .element.special .to-hide .element_item:nth-child(3n) {
        margin: 14px 0 0;
    }

    #base .container .content .left .element.special .to-hide .element_item:nth-child(3n + 1) {
        clear: left;
    }

    #base .container .content .left .element.special .to-hide .element_item:nth-child(7n) {
        margin: 14px 32px 0 0;
    }

    #base .container .content .left .element.special .to-hide .element_item:nth-child(7n + 1) {
        clear: none;
    }

    #base .container.product .content .left .head {
        overflow: hidden;
        height: 96px;
        margin: 0 0 60px;
        width: 565px;
    }

    #base .container .content .left .teasers {
        font-family: 'open_sanssemibold', sans-serif;
        color: #0a1f3b;
        line-height: 24px;
    }

    #base .container .content .left .download {
        overflow: hidden;
        width: 552px;
        min-height: 312px;
        background: #0a1f3b url('../images/1152/bg_download.png') no-repeat 0 0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin: 80px 0 15px 30px;
        padding: 0 0 31px;
        float: right;
    }

    #base .container .content .left .download h4 {
        padding: 0;
        font-family: 'open_sanslight', sans-serif;
        font-size: 36px;
        line-height: 48px;
        color: #23a9e1;
        margin: 27px 35px 29px;
    }

    #base .container .content .left .download .item {
        height: 37px;
        margin: 0 0 23px 36px;
        padding: 0 0 0 45px;
        text-align: left;
        display: block;
        vertical-align: middle;
        float: none;
        width: 435px;
        font-family: 'open_sansbold', sans-serif;
        line-height: 18px;
        font-size: 14px;
        color: #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    #base .container .content .left .download .item.doc {
        background: url('../images/icon_doc.png') no-repeat 0 0;
    }

    #base .container .content .left .download .item.pdf {
        background: url('../images/icon_pdf.png') no-repeat 0 0;
    }

    #base .container .content .left .download .item p {
        height: 37px;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        margin: 0;
        line-height: 18px;
    }

    #base .container .content .left .download .item p a {
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
        display: inline;
        margin: 0;
        line-height: 18px;
    }

    #base .container .content .left .download .item p a:hover {
        color: #23a9e1;
    }

    #base .container .content .left .download .item p a::before {
        content: "" !important;
        display: none;
    }

    #base .container .content .left .download .item p b {
        font-family: 'open_sanslight', sans-serif;
        font-size: 12px;
        color: #23a9e1;
        padding: 0 0 0 5px;
        position: relative;
        top: -1px;
        margin: 0;
    }

    #base .container .content .right h4 {
        margin: 30px 36px 0;
        padding: 0;
        color: #0a1f3b;
        font-family: 'open_sanslight', sans-serif;
        font-size: 36px;
        line-height: 48px;
    }

    #base .container .content .right .gallery {
        overflow: hidden;
        margin: 38px 0 0;
    }

    .newsDetail .newsLeft .gallery a {
        overflow: hidden;
        float: left;
        width: 137px;
        height: 115px;
        margin: 0 32px 32px 0;
        position: relative;
        cursor: pointer;
    }

    #base .container .content .right .gallery a:nth-child(7n) {
        margin: 0 0 23px 0;
    }

    #base .container .content .right .gallery a img {
        overflow: hidden;
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    #base .container .content .right .gallery a span.mask {
        overflow: hidden;
        width: 137px;
        height: 115px;
        background: url('../images/gallery_mask.png') no-repeat 0 0;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    #base .container .content .right .gallery a:hover span.mask {
        display: block;
    }

    #base .container.product .content .right h4 {
        overflow: hidden;
        font-size: 30px;
        color: #23a9e1;
        line-height: 32px;
        font-family: 'open_sanssemibold', sans-serif;
        margin: 31px 0 14px;
    }

    #side-block {
        width: 100%;
        height: 533px;
        pointer-events: none;
        background: url('../images/side-block.png') no-repeat top center;
        position: absolute;
        right: 0;
        top: 608px;
        z-index: 1;
    }

    .other_products {
        margin: -14px 0 46px;
        overflow: hidden;
    }

    .other_products h3 {
        overflow: hidden;
        font-size: 36px;
        line-height: 60px;
        font-family: 'open_sanssemibold', sans-serif;
        margin: 2px 0 23px;
        color: #0a1f3b;
    }

    #back_small {
        display: none;
    }

    #top #show_menu {
        display: none;
    }

    /*NEWS*/

    #base .background.news {
        height: 208px;
        background: url('../images/bg_product.jpg') no-repeat 0 0;
    }

    #base .container.news h2 {
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        font-size: 60px;
        line-height: 60px;
        padding: 0;
        margin: 78px 0 70px;
    }


    .newsItems {
        overflow: hidden;
    }

    .newsItems .newsItem {
        margin: 64px 0 0;
        overflow: hidden;
    }

    .newsItems .newsItem .title {
        font-family: 'open_sansbold', sans-serif;
        color: #0a1f3b;
        font-size: 30px;
        line-height: 28px;
        margin: 0;
        padding: 0;
        max-width: 800px;
        display: block;
    }

    .newsItems .newsItem a.title:hover {
        color: #23a9e1;
        text-decoration: none;
        cursor: pointer;
    }

    .newsItems .newsItem .date {
        font-family: 'open_sansbold', sans-serif;
        color: #23a9e1;
        font-size: 14px;
        line-height: 24px;
        margin: 2px 0 0;
    }

    .newsItems .newsItem .desc {
        font-family: 'open_sansregular', sans-serif;
        color: #0a1f3b;
        font-size: 14px;
        line-height: 24px;
        margin: 24px 0 0;
        max-width: 800px;
    }

    .newsItems .newsItem .more {
        display: inline-block;
        font-family: 'open_sansbold', sans-serif;
        color: #0a1f3b;
        font-size: 14px;
        line-height: 24px;
        text-decoration: underline;
        margin: 24px 0 0;
    }

    .newsItems .newsItem .more:hover {
        color: #23a9e1;
        cursor: pointer;
    }

    #newsMain h3 {
        font-family: 'open_sanslight', sans-serif;
        font-size: 36px;
        line-height: 72px;
        color: #0a1f3b;
        position: relative;
    }

    #newsMain .newsItems {

    }

    #newsMain .newsItems .newsItem {
        width: 576px;
        float: left;
        margin: 13px 0 0;
    }

    #newsMain .newsItems .newsItem .title {
        width: 450px;
        line-height: 24px;
        font-size: 24px;
    }

    #newsMain .newsItems .newsItem .date {
        margin: 4px 0 0;
    }

    #newsMain .newsItems .newsItem .desc {
        width: 450px;
    }

    #newsMain .newsMore {
        font-family: 'open_sansbold', sans-serif;
        color: #23a9e1;
        font-size: 14px;
        line-height: 24px;
        text-decoration: underline;
        display: inline-block;
        margin: 20px 0 137px;
    }

    #newsMain .newsMore:hover {
        color: #0a1f3b;
        cursor: pointer;
    }

    .newsDetail .newsLeft {
        width: 750px;
        float: left;
    }

    .newsDetail .newsLeft h4,
    .newsDetail .newsLeft h1 {
        font-family: 'open_sansbold', sans-serif;
        font-size: 48px;
        line-height: 48px;
        color: #0a1f3b;
        margin: 60px 0 2px;
        padding: 0;
    }

    .newsDetail .newsLeft .date {
        font-family: 'open_sansbold', sans-serif;
        color: #23a9e1;
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 23px;
    }

    .newsDetail .newsLeft p {
        padding: 0;
        margin: 0 0 24px;
        font-family: 'open_sansregular', sans-serif;
        line-height: 24px;
        font-size: 14px;
    }

    .newsDetail .newsLeft h2 {
        font-family: 'open_sansbold', sans-serif !important;
        font-weight: normal !important;
        line-height: 32px !important;
        font-size: 22px !important;
        margin: 20px 0 !important;
        color: #333333 !important;
        padding: 0 !important;
    }

    .newsDetail .newsLeft .gallery {
        margin: 49px 0 6px;
    }

    .newsDetail .newsLeft .gallery a {
        overflow: hidden;
        float: left;
        width: 137px;
        height: 115px;
        margin: 0 32px 32px 0;
        position: relative;
        cursor: pointer;
    }

    .newsDetail .newsLeft .gallery a:nth-child(4n) {
        margin: 0 0 23px 0;
    }

    .newsDetail .newsLeft .gallery a:nth-child(4n + 1) {
        clear: left;
    }

    .newsDetail .newsLeft .gallery a img {
        overflow: hidden;
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    .newsDetail .newsLeft .gallery a span.mask {
        overflow: hidden;
        width: 137px;
        height: 115px;
        background: url('../images/gallery_mask.png') no-repeat 0 0;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .newsDetail .newsLeft .gallery a:hover span.mask {
        display: block;
    }

    .newsDetail .newsRight {
        width: 365px;
        float: right;
    }

    #base .container.news .newsDetail .newsRight h2 {
        font-family: 'open_sanslight', sans-serif;
        color: #0a1f3b;
        font-size: 36px;
        line-height: 72px;
        margin: 52px 0 0;
        padding: 0;
    }

    .newsDetail .newsRight .newsItems {

    }

    .newsDetail .newsRight .newsItems .newsItem {
        margin: 29px 0 42px;
    }

    .newsDetail .newsRight .newsItems .newsItem .title {
        font-size: 30px;
        line-height: 30px;
    }

    .news .newsPaginate {
        margin: 34px 3px 24px;
        padding: 0;
        list-style: none;
        height: 65px;
    }

    .news .newsPaginate li {
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .news .newsPaginate li a {
        font-family: 'open_sansregular', sans-serif;
        line-height: 24px;
        font-size: 14px;
        color: #0a1f3b;
        display: block;
        margin: 12px 0 0;
        padding: 0;
        width: 26px;
        cursor: pointer;
    }

    .news .newsPaginate li a:hover, .news .newsPaginate li a.active {
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        background: #23a9e1;
        height: 65px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        padding: 12px 0 0;
        margin: 0 -3px;
        width: 32px;
    }

    #top .container #menu_top > li div {
         font-family: 'open_sansbold', sans-serif;
         display: block;
         color: #000;
         font-size: 14px;
         line-height: 24px;
         margin: -7px -30px 0 -28px;
         padding: 7px 37px 0 28px;
         background: url('../images/menu_img.png') no-repeat calc(100% - 18px) 17px;
     }

    #top .container #menu_top > li div:hover {
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        color: #fff;
        cursor: pointer;
        background: #0a1f3b url('../images/menu_img_hover.png') no-repeat calc(100% - 18px) 17px;
        overflow: hidden;
    }

    #top .container #menu_top > li div:hover > a {
        color: #fff;
    }

    #top .container #menu_top > li div ul {
        display: none;
    }

    #top .container #menu_top > li div:hover ul {
        display: block;
        margin: 7px -37px 0 -28px;
        padding: 0;
        list-style: none;
        width: 141px;
    }

    #top .container #menu_top > li div:hover ul li {
        display: block;
        margin: 0;
        border-top: #123360 1px solid;
        padding: 8px 15px 9px;
        text-align: center;
    }

    #top .container #menu_top > li div:hover ul li a {
        font-size: 14px;
        line-height: 18px !important;
        color: #fff;
    }

    #top .container #menu_top > li div:hover ul li a:hover {
        color: #23a9e1;
    }
}
