@media screen and (max-width: 766px) {

    .container {
        width: 320px;
    }

    #top {
        height: 70px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 9999;
    }

    #top .container {
        height: 70px;
        overflow: hidden;
    }

    #top .container #logo {
        float: left;
        width: 149px;
        height: 40px;
        text-indent: -5000px;
        background: url('../images/logo.png') no-repeat 0 0;
        margin: 15px 0 0 15px;
    }

    #top .container #menu_top {
        float: right;
        margin: 28px 15px 0 0;
        padding: 0;
        list-style: none;
    }

    #top .container #menu_top li {
        float: left;
        margin: 0;
        padding: 0;
    }

    #top .container #menu_top li + li {
        margin: 0 0 0 37px;
    }

    #top .container #menu_top li a {
        font-family: 'open_sansbold', sans-serif;
        display: block;
        margin: 0;
        padding: 0;
        color: #000;
        font-size: 14px;
        line-height: 24px;
    }

    #top .container #menu_top li a:hover, #top .container #menu_top li a.active {
        color: #0e71b0;
        text-decoration: none;
    }

    #main {
        height: auto;
        min-height: 0;
        background: url('../images/bg_main_fix.jpg') no-repeat center center;
    }

    #main .bg {
        display: block;
    }

    #main .container {
        position: static;
    }

    #main .container > div {
        text-align: center;
        top: 0;
        left: 0;
        bottom: 0 !important;
        right: 0;
        min-height: 270px;
        margin: 120px auto 40px;
    }

    #main .container > div h1 {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 36px;
        font-family: 'open_sanslight', sans-serif;
        line-height: 40px;
    }

    #main .container > div h1 b {
        font-family: 'open_sansbold', sans-serif;
        font-weight: normal;
        display: block;
    }

    #main .container > div .separate {
        display: block;
        width: 30px;
        height: 5px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #fff;
        margin: 35px auto 0;
    }

    #main .container > div .first_row {
        overflow: hidden;
        margin: 41px auto 0;
    }

    #main .container > div .first_row .meet_us {
        width: 249px;
        height: 65px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #23a9e1;
        text-align: center;
        line-height: 65px;
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        font-size: 18px;
        margin: 0 auto 16px;
        display: block;
        cursor: pointer;
    }

    #main .container > div .first_row .meet_us:hover {
        color: #0e71b0;
        text-decoration: none;
    }

    #main .container > div .first_row .go_to_offer {
        margin: 0 auto;
        line-height: 65px;
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        font-size: 18px;
        text-decoration: underline;
        display: block;
        cursor: pointer;
    }

    #main .container > div .first_row .go_to_offer:hover {
        color: #0e71b0;
    }

    #main .container > div .second_row {
        overflow: hidden;
        margin: 20px auto 0;
    }

    #main .container > div .second_row .order_service {
        width: 249px;
        height: 65px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #23a9e1;
        text-align: center;
        line-height: 65px;
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        font-size: 18px;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }

    #main .container > div .second_row .order_service:hover {
        color: #0e71b0;
        text-decoration: none;
    }

    #about .rectangle_about {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        height: 269px;
        background: url('../images/320/rectangle_about.png') center center no-repeat;
        z-index: 0;
    }

    #about .container .left {
        text-align: left;
        font-family: 'open_sanslight', sans-serif;
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        margin: 173px 0 0 15px;
        padding: 0;
    }

    #about .container .left span {
        font-size: 100px;
        font-family: 'open_sansbold', sans-serif;
        line-height: 82px;
        margin: 0 0 0 -2px;
    }

    #about .container .right {
        overflow: hidden;
        margin: 89px 0 0;
        width: 320px;
        padding: 0 15px;
    }

    #about .container .right h2 {
        margin: 0 0 26px;
        padding: 0;
        font-family: 'open_sanslight', sans-serif;
        font-size: 40px;
        line-height: 60px;
        color: #fff;
        font-weight: normal;
    }

    #about .container .right p {
        padding: 0;
        margin: 0 0 25px;
        font-family: 'open_sansregular', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
    }

    #about .container .right p.head {
        font-family: 'open_sansbold', sans-serif;
        font-size: 18px;
    }

    #differences {
        background: #1f2e3a;
        position: relative;
        padding: 32px 0 0;
        min-width: 320px;
    }

    #differences h2 {
        padding: 11px 0 19px;
        margin: 0 0 25px;
        border-top: 2px solid #1d2b36;
        border-bottom: 2px solid #1d2b36;
        line-height: 40px;
        overflow: hidden;
        text-align: center;
        color: #fff;
        font-family: 'open_sanslight', sans-serif;
        font-size: 40px;
        min-width: 320px;
    }

    #differences h2 b {
        font-family: 'open_sansbold', sans-serif;
        display: block;
    }

    #differences .differences_container {
        width: 100%;
        min-height: 659px;
        min-width: 320px;
        position: relative;
    }

    #differences .differences_container > div {
        width: 100%;
        height: 205px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    #differences .differences_container > div.active {
        background: #fff !important;
        margin: -69px 0 -68px;
        height: 342px;
        z-index: 3;
        overflow: hidden;
    }

    #differences .differences_container > div > div {
        width: 100%;
        padding: 100px 0 0;
        text-align: center;
        margin: 19px 0 0;
    }

    #differences .differences_container > div > div span {
        display: block;
        font-family: 'open_sansregular', sans-serif;
        color: #fff;
        font-size: 30px;
        line-height: 36px;
    }

    #differences .differences_container > div > div span br {
        display: none;
    }

    #differences .differences_container > div > div span::after {
        width: 23px;
        height: 2px;
        background: #fff;
        content: "";
        margin: 20px auto 0;
        display: block;
    }

    #differences .differences_container > div > div p {
        display: none;
    }

    #differences .differences_container > div.active > div {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }

    #differences .differences_container > div.active > div > div {
        display: table-cell;
        height: 342px;
        vertical-align: middle;
    }

    #differences .differences_container > div.active > div span {
        color: #0a1f3b;
    }

    #differences .differences_container > div.active > div span::after {
        background: #0a1f3b;
        margin: 17px auto 0;
    }

    #differences .differences_container > div.active > div p {
        display: block;
        width: 100%;
        margin: 17px auto 0;
        font-family: 'open_sansregular', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #0a1f3b;
    }

    #differences .differences_container > div.experience {
        background: #0a1f3b url('../images/320/bg_differences_experience.png') top center no-repeat;
    }

    #differences .differences_container > div.experience > div {
        background: url('../images/icon_experience.png') center 14px no-repeat;
    }

    #differences .differences_container > div.lore {
        background: #213d62 url('../images/320/bg_differences_lore.png') top center no-repeat;
    }

    #differences .differences_container > div.lore > div {
        background: url('../images/icon_lore.png') center 13px no-repeat;
    }

    #differences .differences_container > div.technology {
        background: #0f689e url('../images/320/bg_differences_technology.png') top center no-repeat;
    }

    #differences .differences_container > div.technology > div {
        background: url('../images/icon_technology.png') center top no-repeat;
    }

    #differences .differences_container > div.professionalism {
        background: #213d62 url('../images/320/bg_differences_professionalism.png') top center no-repeat;
    }

    #differences .differences_container > div.professionalism > div {
        background: url('../images/icon_professionalism.png') center 13px no-repeat;
    }

    #differences .differences_container > div.quality {
        background: #0a1f3b url('../images/320/bg_differences_quality.png') top center no-repeat;
    }

    #differences .differences_container > div.quality > div {
        background: url('../images/icon_quality.png') center 19px no-repeat;
    }

    #experience {
        height: auto;
        overflow: hidden;
    }

    #experience .container {
        height: auto;
        padding: 0;
    }

    #experience .container .our_experience {
        margin: 47px 0 0;
    }

    #experience .container .our_experience h3 {
        font-family: 'open_sanslight', sans-serif;
        color: #0a1f3b;
        line-height: 36px;
        font-size: 40px;
        padding: 0 15px;
        margin: 0 0 38px;
    }

    #experience .container .our_experience p {
        font-family: 'open_sansregular', sans-serif;
        color: #0a1f3b;
        line-height: 24px;
        font-size: 16px;
        padding: 0 15px;
        margin: 0 0 24px;
    }

    #experience .container .our_experience p.head {
        font-family: 'open_sansbold', sans-serif;
        color: #0a1f3b;
        font-size: 18px;
    }

    #experience .container .our_experience h3 b {
        display: block;
        font-family: 'open_sansbold', sans-serif;
    }

    #experience .container .recomendations {
        background: url('../images/320/bg_quote.png') no-repeat 0 0;
        height: 305px;
        margin: 39px 0 19px 0;
        position: relative;
        overflow: hidden;
    }

    #experience .container .recomendations .example-pager {
        position: absolute;
        right: 0;
        bottom: 53px;
    }

    #experience .container .recomendations .example-pager span {
        float: left;
        background: #d2f2ff;
        width: 14px;
        height: 14px;
        margin: 0 0 0 9px;
        cursor: pointer;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
    }

    #experience .container .recomendations .example-pager span.cycle-pager-active {
        background: #59cdfd;
    }

    #experience .container .recomendations .item {
        width: 293px;
        height: 224px;
        margin: 14px;
    }

    #experience .container .recomendations .item .content {
        padding: 0 37px;
        height: 224px;
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        line-height: 24px;
        font-family: 'open_sansbold', sans-serif;
    }

    #experience .container .recomendations .item .content .quote {
        color: #0a1f3b;
        font-size: 18px;
    }

    #experience .container .recomendations .item .content .quote::after {
        content: "-";
        color: #23a9e1;
        display: block;
        line-height: 26px;
    }

    #experience .container .recomendations .item .content .author {
        color: #23a9e1;
        line-height: 18px;
    }

    #experience .container .recomendations .item .content .author b {
        color: #0a1f3b;
        display: block;
    }

    #experience .container .realizations h3, #experience .container .trusted h3 {
        font-family: 'open_sanslight', sans-serif;
        font-size: 36px;
        line-height: 72px;
        color: #0a1f3b;
        position: relative;
        padding: 0 15px;
    }

    #experience .container .realizations h3 {
        margin: 0;
    }

    #experience .container .trusted .trusted_carousel {
        height: 110px;
        overflow: hidden;
        margin: 0 0 11px;
        width: 100% !important;
    }

    #experience .container .trusted .trusted_carousel .item {
        width: 320px;
        height: 110px;
        line-height: 110px;
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #experience .container .trusted .trusted_carousel .item img {
        max-height: 110px;
        max-width: 230px;
    }

    #experience .container .realizations {
        overflow: hidden;
        margin: -3px 0 0;
    }

    #experience .container .realizations .realization_1 {
        height: 239px;
        width: 320px;
        background: url('../images/320/bg_realization_1.png') no-repeat 0 0;
        margin: 22px 0 0;
    }

    #experience .container .realizations .realization_1 div, #experience .container .realizations .realization_2 div {
        font-family: 'open_sansbold', sans-serif;
        line-height: 30px;
        font-size: 24px;
        height: 165px;
        width: 320px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        position: relative;
        color: #fff;
        text-shadow: 0 1px 1px #115a97;
        padding: 0 10px;
    }

    #experience .container .realizations .realization_1 div br, #experience .container .realizations .realization_2 div br {
        display: none;
    }

    #experience .container .realizations .realization_1 div a, #experience .container .realizations .realization_2 div a {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
    }

    #experience .container .realizations .realization_1 div a:hover, #experience .container .realizations .realization_2 div a:hover {
        color: #0e71b0;
    }

    #experience .container .realizations .realization_1 div {
        top: 74px;

    }

    #experience .container .realizations .realization_2 {
        height: 252px;
        width: 320px;
        background: url('../images/320/bg_realization_2.png') no-repeat 0 0;
        margin: -12px 0 0;
    }

    #experience .container .realizations .realization_2 div {
        top: 87px;
    }

    #experience .container .trusted {
        margin: 23px 0 0;
    }

    #offer {
        background: #0A1F3C;
    }

    #offer .container {
        height: auto;
        overflow: hidden;
        padding: 0 0 34px;
    }

    #offer .rectangle_offer_outside {
        position: absolute;
        background: url('../images/320/rectangle_ofert.png') no-repeat center center;
        width: 100%;
        height: 675px;
        top: -52px;
    }

    #offer h2 {
        line-height: 60px;
        font-size: 40px;
        font-family: 'open_sanslight', sans-serif;
        color: #fff;
        text-align: center;
        margin: 34px 0 35px;
        padding: 0;
    }

    #offer .item, #base .container .item {
        width: 275px;
        height: 195px;
        overflow: hidden;
        float: left;
        margin: 0 15px 27px 23px;
        position: relative;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: center;
    }

    #offer .item h4, #base .container .item h4 {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 24px;
        line-height: 28px;
        font-family: 'open_sansbold', sans-serif;
        min-height: 72px;
        display: block;
    }

    #offer .item > div, #base .container .item > div {
        position: absolute;
        width: 275px;
        top: 45px;
    }

    #offer .item a, #base .container .item a {
        line-height: 24px;
        font-size: 14px;
        color: #fff;
        text-decoration: underline;
        font-family: 'open_sansbold', sans-serif;
        margin: 4px 0 0;
        display: block;
        position: relative;
        z-index: 2;
    }

    #offer .item img, #base .container .item img {
        position: absolute;
        top: -18px;
        left: 0;
        z-index: 0;
    }

    #offer .item a:hover, #base .container .item a:hover {
        color: #59cdfd;
    }

    #offer .item a::before, #base .container .item a::before {
        display: block;
        content: "  ";
        font-family: 'open_sanslight', sans-serif;
        margin: -10px 0 10px;
        color: #fff !important;
        white-space: pre;
    }

    .main #offer .go_to_offer {
        display: none;
    }

    #contact .container {
        width: 100%;
        overflow: hidden;
        height: auto;
        padding: 0 0 20px;
    }

    #contact #map_canvas {
        height: 372px;
        width: 100%;
        min-width: 320px;
    }

    #contact h3 {
        font-family: 'open_sanslight', sans-serif;
        color: #0a1f3b;
        line-height: 40px;
        font-size: 40px;
        padding: 0;
        margin: 45px auto 2px;
        width: 290px;
    }

    #contact h3 b {
        display: block;
        font-family: 'open_sansbold', sans-serif;
        line-height: 36px;
        margin: 10px 0 0;
    }

    #contact .content {
        position: relative;
        font-size: 18px;
        line-height: 24px;
        color: #0a1f3b;
        font-family: 'open_sansbold', sans-serif;
    }

    #contact .content p {
        padding: 0;
        margin: 0;
        font-size: 17px;
    }

    #contact .content a.rzetelna-firma-logo.small-hidden {
		display: none;
	}
    #contact .content a.rzetelna-firma-logo.small-visible {
		display: block;
		position: static;
	}
    #contact .content a {
        color: #0a1f3b;
    }

    #contact .content p::after {
        display: block;
        content: "-";
    }

    #contact .content span {
        font-family: 'open_sansregular', sans-serif;
    }

    #contact .content h4 {
        padding: 0;
        margin: 35px 0 18px;
        font-size: 36px;
        line-height: 36px;
        color: #23a9e1;
        font-family: 'open_sanslight', sans-serif;
    }

    #contact .content .tel {
        color: #0a1f3b;
    }

    #contact .content .right h4 {
        margin: 0 0 18px;
    }

    #contact .content .left {
        overflow: hidden;
        width: 290px;
        margin: 0 auto;
    }

    #contact .content .right {
        overflow: hidden;
        width: 290px;
        margin: 30px auto 0;
    }

    #contact .content .serwis {
        overflow: hidden;
        height: 181px;
        width: 100%;
        background: #0a1f3b;
        padding: 38px 0 0;
    }

    #contact .content .serwis h4 {
        font-family: 'open_sansregular', sans-serif;
        width: 290px;
        margin: 0 auto;
    }

    #contact .content .serwis p {
        color: #fff;
        width: 290px;
        margin: 0 auto;
    }

    #contact .content .serwis p .tel {
        color: #fff;
    }

    #contact .content .serwis a {
        color: #fff;
    }

    #footer .container {
        height: auto;
    }

    #footer .container #menu_bottom {
        display: none;
    }

    #footer #footer_info {
        width: 320px;
        margin: 17px 0 30px;
        font-size: 12px;
        line-height: 24px;
        color: #0a1f3b;
        font-family: 'open_sansregular', sans-serif;
    }

    #footer #footer_info::before {
        display: block;
        width: 10px;
        height: 10px;
        content: "-";
        margin: 6px 0 14px;
    }

    #footer #footer_info a {
        font-family: 'open_sansbold', sans-serif;
        color: #0a1f3b;
        cursor: pointer;
    }

    #footer #footer_info a.lemonade {
        display: inline-block;
        padding: 0 0 0 28px;
        background: url('../images/lemonade_logo.png') no-repeat left bottom;
    }

    #footer #footer_info a:hover {
        color: #0e71b0;
        text-decoration: none;
    }

    #top.site {
        position: relative;
    }

    #base .container {
        height: auto;
        min-height: 830px;
        position: relative;
        z-index: 1;
    }

    #base .container .content {
        padding: 0 0 13px 0;
        color: #fff;
        overflow: hidden;
    }

    #base .container .content.no-bg {
        background: none;
    }

    #base .container .content .left, #base .container .content .right {
        width: 320px;
        margin: 0;
    }

    #base .container .content .right {
        width: 320px;
        margin: 0;
    }

    #base .container .content h2 {
        margin: 60px 0 25px;
        font-size: 40px;
        line-height: 60px;
        font-family: 'open_sansbold', sans-serif;
        padding: 0 15px;
    }

    #base .container.product .content h2 {
        margin: 40px 0 35px;
        line-height: 40px;
        padding: 0 15px;
    }

    #base .container .content p {
        margin: 0 0 24px;
        font-family: 'open_sansregular', sans-serif;
        line-height: 24px;
        font-size: 14px;
        padding: 0 15px;
    }

    #base .container .content p.head {
        font-family: 'open_sansbold', sans-serif;
        font-size: 18px;
    }

    #base .background {
        position: absolute;
        top: 70px;
        left: 0;
        height: 830px;
        width: 100%;
        background: url('../images/bg_main_fix.jpg') no-repeat 0 0;
        z-index: 0;
    }

    #base .background.product {
        height: 330px;
        background: url('../images/bg_product.jpg') no-repeat 0 0;
    }

    #base .certificates {
        overflow: hidden;
    }

    #base .certificates h3 {
        margin: 8px 0 38px;
        padding: 0;
        color: #0a1f3b;
        font-family: 'open_sanslight', sans-serif;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
    }

    #base .certificates > div {
        overflow: hidden;
        margin: 0 auto 60px;
        text-align: center;
    }

    #base .certificates > div img {
        display: inline-block;
        width: 97px;
        height: 97px;
        margin: 0 16px 16px 17px;
    }

    #base .container .content .left .element {
        overflow: hidden;
        padding: 0 15px;
    }

    #base .container .content .left .element h3 {
        font-size: 30px;
        color: #23a9e1;
        line-height: 32px;
        font-family: 'open_sanssemibold', sans-serif;
        padding: 20px 0 14px;
        margin: 0;
    }

    #base .container .content .left .element .desc {
        overflow: hidden;
        color: #0a1f3b;
        font-family: 'open_sansregular', sans-serif;
        font-size: 14px;
        line-height: 24px;
    }

    #base .container .content .left .element .to-hide {
        overflow: hidden;

        color: #0a1f3b;
        margin: 24px 0 0;
        padding: 0 0 23px;
    }

    #base .container .content .left .element .to-hide p {
        margin: 0;
        padding: 0;
    }

    #base .container .content .left .element .to-hide ul {
        overflow: hidden;
        display: block;
        margin: 5px 0;
        padding: 0;
        list-style: none;
    }

    #base .container .content .left .element .to-hide ul li {
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0 9px;
        background: url('../images/li-dot.png') no-repeat 0 9px;
    }

    #base .container .content .left .element .to-hide .element_item {
        overflow: hidden;
        float: left;
        width: 137px;
        margin: 14px 16px 0 0;
        font-family: 'open_sansregular', sans-serif;
        font-size: 12px;
    }

    #base .container .content .left .element .to-hide .element_item img {
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        margin: 0 0 11px;
        width: 137px;
        height: 115px;
    }

    #base .container .content .left .element .to-hide .element_item:nth-child(2n) {
        margin: 14px 0 0;
    }

    #base .container .content .left .element .to-hide .element_item:nth-child(2n + 1) {
        clear: left;
    }

    #base .container.product .content .left .head {
        overflow: hidden;
        height: 168px;
        margin: 0 0 28px;
    }

    #base .container .content .right .download {
        overflow: hidden;
        width: 320px;
        min-height: 312px;
        background: #0a1f3b url('../images/1152/bg_download.png') no-repeat right top;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin: 5px 0 0;
        padding: 0 0 31px;
    }

    #base .container .content .right .download h4 {
        color: #23a9e1;
        margin: 27px 35px 29px;
        line-height: 36px;
    }

    #base .container .content .right .download .item {
        height: 37px;
        margin: 0 0 23px 36px;
        padding: 0 0 0 45px;
        text-align: left;
        display: block;
        vertical-align: middle;
        float: none;
        width: 260px;
        font-family: 'open_sansbold', sans-serif;
        line-height: 18px;
        font-size: 14px;
        color: #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    #base .container .content .right .download .item.doc {
        background: url('../images/icon_doc.png') no-repeat 0 0;
    }

    #base .container .content .right .download .item.pdf {
        background: url('../images/icon_pdf.png') no-repeat 0 0;
    }

    #base .container .content .right .download .item p {
        height: 37px;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        margin: 0;
        line-height: 18px;
    }

    #base .container .content .right .download .item p a {
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
        display: inline;
        margin: 0;
        line-height: 18px;
    }

    #base .container .content .right .download .item p a:hover {
        color: #23a9e1;
    }

    #base .container .content .right .download .item p a::before {
        content: "";
        display: none;
    }

    #base .container .content .right .download .item p b {
        font-family: 'open_sanslight', sans-serif;
        font-size: 12px;
        color: #23a9e1;
        padding: 0 0 0 5px;
        position: relative;
        top: -1px;
        margin: 0;
    }

    #base .container .content .right h4 {
        margin: 40px 0 29px;
        color: #0a1f3b;
        font-family: 'open_sanssemibold', sans-serif;
        font-size: 36px;
        line-height: 48px;
        padding: 0 15px;
    }

    #base .container .content .right .gallery {
        overflow: hidden;
        width: 290px;
        margin: 0 15px 12px 15px;
    }

    #base .container .content .right .gallery a {
        overflow: hidden;
        float: left;
        width: 137px;
        height: 115px;
        margin: 0 16px 15px 0;
        position: relative;
        cursor: pointer;
    }

    #base .container .content .right .gallery a:nth-child(even) {
        margin: 0 0 15px 0;
    }

    #base .container .content .right .gallery a img {
        overflow: hidden;
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    #base .container .content .right .gallery a span.mask {
        overflow: hidden;
        width: 137px;
        height: 115px;
        background: url('../images/gallery_mask.png') no-repeat 0 0;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    #base .container .content .right .gallery a:hover span.mask {
        display: block;
    }

    #side-block {
        width: 100%;
        height: 533px;
        pointer-events: none;
        background: url('../images/side-block.png') no-repeat top center;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .other_products {
        margin: 3px 0 46px;
        overflow: hidden;
    }

    .other_products h3 {
        margin: 0 0 34px;
        color: #0a1f3b;
        font-family: 'open_sanslight', sans-serif;
        font-size: 40px;
        line-height: 40px;
        padding: 0 15px;
    }

    .back_large, #back_large {
        display: none;
    }

    #back_small {
        display: block;
    }

    #top #show_menu {
        display: block;
        float: right;
        width: 34px;
        height: 25px;
        background: url('../images/hamburger.png') 0 0 no-repeat;
        cursor: pointer;
        margin: 23px 15px 0 0;
    }

    .main #top, .main #top .container {
        height: auto;
        min-height: 70px;
    }

    .main #top #menu_top {
        display: none;
        margin: 30px 15px;
        width: 100%;
    }

    .main #top .container #menu_top li {
        display: block;
        margin: 0;
        padding: 0;
        float: none;
        text-align: right;
    }

    #top .main .container #menu_top li a {
        font-family: 'open_sansbold', sans-serif;
        display: block;
        margin: 0;
        padding: 0;
        color: #000;
        font-size: 14px;
        line-height: 24px;
    }

    .main #top .container #menu_top li a:hover, .main #top .container #menu_top li a.active {
        color: #0e71b0;
        text-decoration: none;
    }

    #base .container .content .left .teasers {
        display: block;
        font-family: 'open_sanssemibold', sans-serif;
        color: #0a1f3b;
        line-height: 24px;
        margin: 24px 0;
    }

    #about {
        background: url('../images/bg_about_fix.jpg') no-repeat center center;
    }

    /*NEWS*/

    #base .background.news {
        height: 145px;
        background: url('../images/bg_product.jpg') no-repeat 0 0;
    }

    #base .container.news h2 {
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        font-size: 40px;
        line-height: 36px;
        margin: 55px 0 54px;
        padding: 0 15px;
    }


    .newsItems {
        overflow: hidden;
    }

    .newsItems .newsItem {
        margin: 57px 0 70px;
        overflow: hidden;
        padding: 0 15px;
    }

    .newsItems .newsItem .title {
        font-family: 'open_sansbold', sans-serif;
        color: #0a1f3b;
        font-size: 24px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        max-width: 800px;
        display: block;
    }

    .newsItems .newsItem a.title:hover {
        color: #23a9e1;
        text-decoration: none;
        cursor: pointer;
    }

    .newsItems .newsItem .date {
        font-family: 'open_sansbold', sans-serif;
        color: #23a9e1;
        font-size: 14px;
        line-height: 24px;
        margin: 2px 0 0;
    }

    .newsItems .newsItem .desc {
        font-family: 'open_sansregular', sans-serif;
        color: #0a1f3b;
        font-size: 14px;
        line-height: 24px;
        margin: 24px 0 0;
        max-width: 800px;
    }

    .newsItems .newsItem .more {
        display: block;
        font-family: 'open_sansbold', sans-serif;
        color: #0a1f3b;
        font-size: 14px;
        line-height: 24px;
        text-decoration: underline;
        margin: 24px 0 0;
    }

    .newsItems .newsItem .more:hover {
        color: #23a9e1;
        cursor: pointer;
    }

    #newsMain h3 {
        font-family: 'open_sanslight', sans-serif;
        font-size: 36px;
        line-height: 72px;
        color: #0a1f3b;
        position: relative;
        margin: 0 15px;
    }

    #newsMain .newsItems {

    }

    #newsMain .newsItems .newsItem {
        margin: 23px 0 60px;
    }

    #newsMain .newsItems .newsItem .title {
        line-height: 24px;
        font-size: 24px;
    }

    #newsMain .newsItems .newsItem .date {
        margin: 4px 0 0;
    }

    #newsMain .newsItems .newsItem .desc {

    }

    #newsMain .newsMore {
        font-family: 'open_sansbold', sans-serif;
        color: #23a9e1;
        font-size: 14px;
        line-height: 24px;
        text-decoration: underline;
        display: block;
        margin: -37px 0 137px;
        padding: 0 15px;
    }

    #newsMain .newsMore:hover {
        color: #0a1f3b;
        cursor: pointer;
    }

    .newsDetail .newsLeft {
        padding: 0 15px;
    }

    .newsDetail .newsLeft h4, .newsDetail .newsLeft h1 {
        font-family: 'open_sansbold', sans-serif;
        font-size: 30px;
        line-height: 36px;
        color: #0a1f3b;
        margin: 60px 0 6px;
        padding: 0;
    }

    .newsDetail .newsLeft .date {
        font-family: 'open_sansbold', sans-serif;
        color: #23a9e1;
        font-size: 14px;
        line-height: 24px;
        margin: 0 0 23px;
    }

    .newsDetail .newsLeft p {
        padding: 0;
        margin: 0 0 24px;
        font-family: 'open_sansregular', sans-serif;
        line-height: 24px;
        font-size: 14px;
    }

    .newsDetail .newsLeft h2 {
        font-family: 'open_sansbold', sans-serif !important;
        font-weight: normal !important;
        line-height: 32px !important;
        font-size: 22px !important;
        margin: 20px 0 !important;
        color: #333333 !important;
        padding: 0 !important;
    }

    .newsDetail .newsLeft .gallery {
        margin: 49px 0 0 -7px;
        width: 308px;
    }

    .newsDetail .newsLeft .gallery a {
        overflow: hidden;
        float: left;
        width: 137px;
        height: 115px;
        margin: 0 34px 32px 0;
        position: relative;
        cursor: pointer;
    }

    .newsDetail .newsLeft .gallery a:nth-child(2n) {
        margin: 0 0 23px 0;
    }

    .newsDetail .newsLeft .gallery a:nth-child(2n + 1) {
        clear: left;
    }

    .newsDetail .newsLeft .gallery a img {
        overflow: hidden;
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    .newsDetail .newsLeft .gallery a span.mask {
        overflow: hidden;
        width: 137px;
        height: 115px;
        background: url('../images/gallery_mask.png') no-repeat 0 0;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .newsDetail .newsLeft .gallery a:hover span.mask {
        display: block;
    }

    .newsDetail .newsRight {
        display: none;
    }

    #base .container.news .newsDetail .newsRight h2 {
        font-family: 'open_sanslight', sans-serif;
        color: #0a1f3b;
        font-size: 36px;
        line-height: 72px;
        margin: 52px 0 0;
        padding: 0;
    }

    .newsDetail .newsRight .newsItems {

    }

    .newsDetail .newsRight .newsItems .newsItem {
        margin: 29px 0 42px;
    }

    .newsDetail .newsRight .newsItems .newsItem .title {
        font-size: 30px;
        line-height: 30px;
    }

    .news .newsPaginate {
        margin: -36px 3px -78px;
        list-style: none;
        height: 65px;
        padding: 0 15px;
    }

    .news .newsPaginate li {
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .news .newsPaginate li a {
        font-family: 'open_sansregular', sans-serif;
        line-height: 24px;
        font-size: 14px;
        color: #0a1f3b;
        display: block;
        margin: 12px 0 0;
        padding: 0;
        width: 26px;
        cursor: pointer;
    }

    .news .newsPaginate li a:hover, .news .newsPaginate li a.active {
        font-family: 'open_sansbold', sans-serif;
        color: #fff;
        background: #23a9e1;
        height: 65px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        padding: 12px 0 0;
        margin: 0 -3px;
        width: 32px;
    }

    #contact .news h3 {
        margin: 28px auto 2px;
    }

    #top .container #menu_top > li div span {
        display: none;
    }

    .ue_row {
        position: relative !important;
        width: 100% !important;
        bottom: 0 !important;
        left: 0 !important;
        height: auto !important;
        margin: 0 !important;
        top: unset !important;
        min-height: unset !important;
    }

    .ue_row a {
        float: left;
        margin-left: -48px;
        width: 416px;
        height: 57px;
    }

    .ue_row img {
        display: none;
    }

    .ue_row .mobile {
        display: block;
    }
}
