@import 'font/font.css';

.editor
{
    font-weight: normal;
    /*color: #fff;*/
    font-family: "open_sanslight" !important;
    color: #0a1f3b;
    /*background-color: #8ad6ff;*/
}

.editor p
{
    font-weight: normal;
    /*color: #fff;*/
    font-family: "open_sanslight" !important;
    color: #0a1f3b;
}