@import 'font/font.css';

.editor {
    font-family: 'open_sansregular', sans-serif;
    font-weight: normal;
}

.editor p {
    font-family: 'open_sansregular', sans-serif;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 24px;
    font-size: 14px;
    color: #333333;
    padding: 0;
}

.editor a,
.editor a:active,
.editor a:visited {
    text-decoration: none;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;
    color: #23527c;
}

.editor a:hover {
    text-decoration: underline;
}

.editor h2 {
    font-family: 'open_sansbold', sans-serif;
    font-weight: normal;
    line-height: 32px;
    font-size: 22px;
    margin: 20px 0;
    color: #333333;
    padding: 0;
}
