@import 'font/font.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

body * {
    font-weight: normal !important;
}

body .teasers b, body .teasers strong, body .element b, body .element strong {
    font-family: 'open_sanssemibold', sans-serif !important;
}

body .teasers i,  body .element i {
    font-family: 'open_sansitalic', sans-serif !important;
}



body .teasers b i, body .teasers strong i, body .element b i, body .element strong i,
body .teasers i b, body .teasers i strong, body .element i b, body .element i strong {
    font-family: 'open_sanssemibold_italic', sans-serif !important;
}

input, textarea {
    outline: none !important;
}

.clear {
    clear: both;
}

a, a:active, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    height: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 0;
}

#main {
    height: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

#about {
    position: relative;
    background: url('../images/bg_about_fix.jpg') fixed no-repeat center center;
}

#offer {
    background: url('../images/bg_offer_fix.jpg') fixed no-repeat center center;
    position: relative;
}

#contact {
    position: relative;
}

.labels {
    font-family: 'open_sansbold', sans-serif;
    text-shadow: 1px 1px rgba(255,255,255,1);
    color: #820101;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    padding: 0 0 0 17px;
    line-height: 15px;
}


/*NEWS*/

#newsMain .container {
    height: auto;
}

.ue_row {
	position: absolute !important;
    width: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
    height: auto !important;
    margin: 0 !important;
    top: unset !important;
}

.ue_row a {
	display: block;
	width: 531px;
	height: 72px;
	margin: 0 auto;
}

.ue_row .mobile {
	display: none;
}

.news img {
	max-width: 100% !important;
	height: auto !important;
}