{% extends '::base.html.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lsmain/css/overlarge.css') }}" type="text/css" media="all" />
{% endblock %}

{% block container %}
    <div id="main">
        <div class="bg" data-0="bottom: 0px" data-top-bottom="bottom: -150px"></div>
        <div class="container" style="min-height: 100%; height: 100%">
            <div class="skrollable skrollable-between" data-0="bottom: 0px" data-top-bottom="bottom: -500px">
                <h1><b>{{ pages.0.content }}</b> {{ pages.1.content }}</h1>
                <div class="first_row">
                    <a class="meet_us" href="#about">{{ pages.2.content }}</a>
                    <a class="go_to_offer" href="{{ path('ls_main_oferta') }}">{{ pages.3.content }}</a>
                </div>
                {% if cms_config.get('order_service_url', '')|length > 0 %}
                    <div class="second_row">
                        <a class="order_service" href="{{ cms_config.get('order_service_url', '#') }}" target="_blank">Serwis</a>
                    </div>
                {% endif %}
            </div>
            {% if cms_config.get('ue_project_url', '')|length > 0 %}
                <div class="ue_row">
                    <a href="{{ cms_config.get('ue_project_url', '#') }}">
                        <img src="{{ asset('bundles/lsmain/images/ue-logo.png') }}" alt="UE">
                        <img class="mobile" src="{{ asset('bundles/lsmain/images/ue-logo-mobile.png') }}" alt="UE">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="about">
        <div class="bg" data-0="bottom: 0px" data-top-bottom="bottom: -100px"></div>
        <div class="rectangle_about"></div>
        <div class="container">

            <div class="left">
                <span>{{ pages.4.content }}</span>
                {{ pages.5.content }}
            </div>
            <div class="right">
                <h2>{{ pages.6.content }}</h2>

                <p class="head">{{ pages.7.content }}</p>

                <p>{{ pages.8.content }}</p>

                <p>{{ pages.9.content }}</p>
            </div>

        </div>
    </div>
    <div id="differences">
        <h2>
            {{ pages.10.content }} <b>{{ pages.11.content }}</b></h2>
        <div class="differences_container">
            {% for difference in differences %}
                <div class="{{ difference.class }}">
                    <div>
                        <div>
                            <span>{{ difference.title | nl2br }}</span>
                            <p>
                                {{ difference.content }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="clear"></div>
    <div id="experience">
        <div class="container">
            {% if opinia %}

                <div class="our_experience">
                    <h3>{{ pages.12.content }} <b>{{ pages.13.content }}</b></h3>
                    <p class="head">{{ pages.14.content }}</p>

                    <p>{{ pages.15.content }}</p>
                </div>

                <div class="recomendations cycle-slideshow"
                        data-cycle-fx=fade
                        data-cycle-timeout=2000
                        data-cycle-pager=".example-pager"
                        data-cycle-pager-template="<span></span>"
                        data-cycle-slides="> div.item"
                >
                    {% for op in opinia %}
                        <div class="item">
                            <div class="content">
                                <div class="quote">
                                    {{ op.content }}
                                </div>
                                <div class="author">
                                    <b>{{ op.name }}</b>
                                    {{ op.title }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="example-pager"></div>
                </div>
            {% endif %}
            <div class="clear"></div>
            {% if gall != null %}
                <div class="realizations">

                    <h3>Realizacje:</h3>
                    {% set counter = 2 %}
                    {% for gallery in gall %}
                        <div class="realization_{{ counter }}">
                            <div>
                                {{ gallery.title | nl2br }}<br />
                                <a href="#" class="details">Zobacz szczegóły i zdjęcia</a>
                            </div>
                            {% for photo in gallery.gallery.photos %}
                                <span class="photo" data-url="{{ photo.getPhotoWebPath() }}"></span>
                            {% endfor %}
                        </div>
                        {% set counter = counter - 1 %}
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            {% endif %}
            <div class="trusted">
                <h3>Zaufali nam:</h3>

                <div class="trusted_carousel cycle-slideshow"
                        data-cycle-fx=carousel
                        data-cycle-timeout=2000
                        data-cycle-carousel-visible=5
                        data-cycle-center-horz=true
                        data-cycle-center-vert=true
                        data-cycle-slides="> div.item">
                    {% if icons_footer|length > 0 %}
                        {% for icon in icons_footer %}
                            <div class="item"><img src="{{ icon.getPhotoWebPath() }}?{{ random(10000) }}" /></div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div id="newsMain">
        <div class="container">
            <h3>Aktualności</h3>
            <div class="newsItems">
                {% if news.0.title is defined %}
                    {% for item in news %}
                        <div class="newsItem" itemscope itemtype="http://schema.org/NewsArticle">
                            <meta itemprop="datePublished" content="{{ item.publishedat | date('Y-m-d\\TH:i:sP') }}" />
                            <meta itemprop="dateModified" content="{{ item.updatedat | date('Y-m-d\\TH:i:sP') }}" />
                            <meta itemprop="description" content="{{ item.seodescription }}" />
                            <a href="{{ path('ls_main_news_show', { 'slug': item.slug }) }}" class="title">
                                <span itemprop="headline">{{ item.title }}</span>
                            </a>
                            <div class="date">{{ item.publishedat | date('d.m.Y') }}</div>
                            <div class="desc">{{ item.contentshort }}</div>
                            <div>
                                <a href="{{ path('ls_main_news_show', { 'slug': item.slug }) }}" class="more">Dowiedz się więcej</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <a class="newsMore" href="{{ path('ls_main_news') }}">Zobacz pozostałe wiadomości</a>
        </div>
    </div>

    <div id="offer">
        <div class="rectangle_offer_outside"></div>
        <div class="container">
            <div class="rectangle_offer"></div>
            <h2>Nasza oferta</h2>
            {% set counter = 1 %}
            {% for product in products %}
                <div class="item elem_{{ counter }}">
                    <img src="{{ product.getThumbWebPath('list') }}" />
                    <div><h4>{{ product.title |nl2br }}</h4>
                        {% if product.slug == 'serwis' %}
                    		<a href="http://entros-serwis.pl/" target="_blank" class="details">Zobacz szczegóły</a>
                    	{% else %}
                        	<a href="{{path('ls_main_oferta_show', {'slug': product.slug})}}" class="details">Zobacz szczegóły</a>
                    	{% endif %}
                    </div>
                </div>
                {% set counter = counter + 1 %}
            {% endfor %}
            <div class="clear"></div>
            <a href="{{ path('ls_main_oferta') }}" class="go_to_offer">Zobacz szczegółową ofertę</a>
        </div>
    </div>
{% endblock %}

