<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}Panel administracyjny - {{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lsadmin/js/fileupload/css/jquery.fileupload.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lsadmin/js/jquery-ui/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/lsadmin/css/jquery-ui-timepicker-addon.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/lsadmin/bootstrap-3.3.4/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/lsadmin/bootstrap-3.3.4/css/bootstrap-theme.min.css') }}">
        <link href="{{ asset('bundles/lsadmin/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lsmain/images/favicon.png') }}" />

    <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter46926330 = new Ya.Metrika({
                            id:46926330,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });
                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/46926330" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
{% set menu = knp_menu_get('LsAdminBundle:Menu:managedMenu', []) %}
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{{ path('ls_admin_homepage') }}"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if (is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
                {{ knp_menu_render(menu, {currentAsLink: false, 'template': 'LsAdminBundle::menu.html.twig'}) }}
                <p class="navbar-text navbar-right" style="margin-right: 0px;">
                    <a href="{{ path('ls_admin_logout') }}" class="navbar-link">Wyloguj</a>
                    <a href="{{ path('ls_main_homepage') }}" class="navbar-link site-preview" target="_blank">Podgląd strony</a>
                </p>
                <p class="navbar-text navbar-right">
                    <span>Zalogowany jako:&nbsp;</span>
                    <a href="#" class="navbar-link">{{ app.user.username }}</a>
                </p>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

{% block modals %}
{% endblock %}

<div id="loading-indicator"></div>
<div id="loading-indicator-background"></div>

{% block javascripts %}
    <script src="{{ asset('bundles/lsadmin/js/jquery-1.11.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsadmin/js/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsadmin/js/jquery.ui.datepicker-pl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsadmin/js/jquery-ui-timepicker-addon.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsadmin/js/jquery-sortable.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsadmin/bootstrap-3.3.4/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsadmin/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsadmin/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsadmin/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsadmin/js/wysiwyg.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>