{% set menuTop = knp_menu_get('LsMainBundle:Builder:managedMenu', [], {'location': 'menu_top'}) %}
{% set menuBottom = knp_menu_get('LsMainBundle:Builder:managedMenu', [], {'location': 'menu_bottom'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="{% if currentRoute == 'ls_main_homepage' %}main {% endif %}skrollr skrollr-desktop">
<head>
    <title>{% block seo_title %}{{ cms_config.get('seo_title','') }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="{% block seo_description %}{{ cms_config.get('seo_description','') }}{% endblock %}" />
    <meta name="Keywords" content="{% block seo_keywords %}{{ cms_config.get('seo_keywords','') }}{% endblock %}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lsmain/images/favicon.png') }}" />

    {% block style %}
        <link rel="stylesheet" href="{{ asset('bundles/lsmain/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lsmain/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lsmain/css/1152.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lsmain/css/750.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lsmain/css/320.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lsmain/js/fancybox/source/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
    {% endblock %}

    {% block headjs %}
        <script src="{{ asset('bundles/lsmain/js/jquery-1.11.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lsmain/js/jquery.cycle2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lsmain/js/jquery.cycle2.carousel.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lsmain/js/skrollr.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('bundles/lsmain/js/fancybox/source/jquery.fancybox.js?v=2.1.5') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lsmain/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
        <script>
            $(document).ready(function () {
                $('.fancybox').fancybox({
                    fitToView: true,
                    openEffect: 'elastic',
                    closeEffect: 'elastic',
                    maxWidth: "70%",
                    scrolling: "no",
                    helpers: {
                        overlay: {
                            locked: false
                        }
                    }
                });
            });
        </script>
        <script type="text/javascript">
             window.smartlook||(function(d) {
             var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
             var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
             c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
             })(document);
             smartlook('init', 'ca161404b22a1ad573837b0d031641441fdcda2e');
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter46926330 = new Ya.Metrika({
                            id:46926330,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });
                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/46926330" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

    {% endblock %}
</head>

<body>
{% block menu %}
    <div id="top">
        <div class="container">
            <a href="{{ path('ls_main_homepage') }}" id="logo">
                <img src="{{ asset('bundles/lsmain/images/logo.png') }}" alt="entros" />
            </a>
            <div id="show_menu"></div>
            <ul id="menu_top">
                {% for menu in menuTop %}
                    {# {{dump(menu.children)}} #}
                    {% if opinia.0 is defined %}
                        <li>
                            {% if menu.children is not empty %}
                                <div>
                                    <span>{{ menu.name }}</span>
                                    <ul>
                                        {% for element in menu.children %}
                                            <li><a href="{{ element.uri }}">{{ element.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <a href="{{ menu.uri }}">{{ menu.name }}</a>
                            {% endif %}
                        </li>
                    {% elseif menu.uri != "#experience" %}
                        <li>
                            {% if menu.children is not empty %}
                                <div>
                                    <a href="{{ menu.uri }}">{{ menu.name }}</a>
                                    <ul>
                                        {% for element in menu.children %}
                                            <li><a href="{{ element.uri }}">{{ element.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <a href="{{ menu.uri }}">{{ menu.name }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {# {{ knp_menu_render(menuTop, {'template': 'LsMainBundle::customMenu2.html.twig'}) }} #}
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block container %}
{% endblock %}

{% block contact %}
    <div id="contact">
        <div class="rectangle_contact"></div>
        <div class="container">
            <h3>Masz pytania?<b>Skontaktuj się z nami</b></h3>

            <div class="content">
                <div class="left">
                    <h4>{{ cms_config.get('main_name','') }}</h4>

                    <p>
                        {{ cms_config.get('main_street','') }}<br />
                        {{ cms_config.get('main_postal','') }} {{ cms_config.get('main_city','') }}
                    </p>

                    <p>
                        <span>tel.:</span> <a href="tel:{{ cms_config.get('main_phone_prefix','') }}{{ cms_config.get('main_phone','') }}">{{ cms_config.get('main_phone_prefix','') }}{{ cms_config.get('main_phone','') }}</a>
                        <br />
                        <span>email:</span> <a href="mailto:{{ cms_config.get('main_email','') }}">{{ cms_config.get('main_email','') }}</a>
                    </p>

                    <p>
                        <span>Nr konta bankowego:</span> <br />
                        {{ cms_config.get('bank_account','') }}
                    </p>

                    <p>
                        <span>NIP:</span> {{ cms_config.get('nip','') }}<br />
                        <span>KRS:</span> {{ cms_config.get('krs','') }}<br />
                        <span>REGON:</span> {{ cms_config.get('regon','') }}
                    </p>
                </div>
                <div class="serwis">
                    <h4>Entros Serwis</h4>

                    <p>
                        tel.: <a href="tel:{{ cms_config.get('service_phone_prefix','') }} {{ cms_config.get('service_phone','') }}">{{ cms_config.get('service_phone_prefix','') }} {{ cms_config.get('service_phone','') }}</a>
                        <br />
                        email: <a href="mailto:{{ cms_config.get('service_email','') }}">{{ cms_config.get('service_email','') }}</a>
                    </p>
                </div>
				<a class="rzetelna-firma-logo small-hidden" rel="nofollow" target="_blank" href="https://wizytowka.rzetelnafirma.pl/PU0SEGX4"><img title="Kliknij i sprawdź status certyfikatu" alt="" src="http://aktywnybaner.rzetelnafirma.pl/ActiveBanner/GetActiveBannerImage/3/PU0SEGX4" style="border:none;"/></a>
                <div class="right">
                    <h4>Biuro Handlowe Zachód</h4>

                    <p>
                        {{ cms_config.get('market_street','') }}<br />
                        {{ cms_config.get('market_postal','') }} {{ cms_config.get('market_city', '') }}
                    </p>

                    <p>
                        <span>tel.:</span> <a href="tel:{{ cms_config.get('market_phone_prefix','') }} {{ cms_config.get('market_phone','') }}">{{ cms_config.get('market_phone_prefix','') }} {{ cms_config.get('market_phone','') }}</a>
                        <br />
                        <span>email:</span> <a href="mailto:{{ cms_config.get('market_email','') }}">{{ cms_config.get('market_email','') }}</a>
                    </p>
					<a class="rzetelna-firma-logo small-visible" rel="nofollow" target="_blank" href="https://wizytowka.rzetelnafirma.pl/PU0SEGX4"><img title="Kliknij i sprawdź status certyfikatu" alt="" src="http://aktywnybaner.rzetelnafirma.pl/ActiveBanner/GetActiveBannerImage/3/PU0SEGX4" style="border:none;"/></a>
                </div>

                <div class="clear"></div>
            </div>

        </div>
        <div id="map_canvas"></div>
    </div>
{% endblock %}

{% block footer %}
    <div id="footer">
        <div class="container">
            {% set counter = 1 %}
            <ul id="menu_bottom" style="height: auto;">
                {% for menu in menuBottom %}
                    {# {{dump(menu.children)}} #}
                    {% if opinia.0 is defined %}
                        {% if counter == 1 %}
                            <li class="first">
                        {% elseif counter == 6 %}
                            <li class="last">
                        {% else %}
                            <li>
                        {% endif %}
                        {% if menu.children is not empty %}
                            <div>
                                {{ menu.name }}
                                <ul>
                                    {% for element in menu.children %}
                                        <li><a href="{{ element.uri }}">{{ element.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <a href="{{ menu.uri }}">{{ menu.name }}</a>
                        {% endif %}
                        </li>
                    {% elseif menu.uri != "#experience" %}
                        {% if counter == 1 %}
                            <li class="first">
                        {% elseif counter == 6 %}
                            <li class="last">
                        {% else %}
                            <li>
                        {% endif %}
                        {% if menu.children is not empty %}
                            <div>
                                {{ menu.name }}
                                <ul>
                                    {% for element in menu.children %}
                                        <li><a href="{{ element.uri }}">{{ element.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <a href="{{ menu.uri }}">{{ menu.name }}</a>
                        {% endif %}
                        </li>
                    {% endif %}
                    {% set counter = counter + 1 %}
                {% endfor %}
            </ul>
            {# <ul id="menu_bottom">
                {{ knp_menu_render(menuBottom, {'template': 'LsMainBundle::customMenu2.html.twig'}) }}
            </ul> #}
            <div id="footer_info">
                <div id="copyrights">© Wszelkie prawa zastrzeżone - <a>Entros Sp. z o.o.</a> - 2015</div>
                <div id="realization">Projekt i realizacja: <a class="lemonade">Lemonade Studio</a></div>
            </div>
        </div>
    </div>
    <div id="side-block" class="skrollable skrollable-between" data-0="top: 608px" data-3100="top: 1900px"></div>
{% endblock %}

{% block bodyjs %}
    <script src="{{ asset('http://maps.google.com/maps/api/js?sensor=false') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsmain/js/markerwithlabel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lsmain/js/scripts.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        initMap({{ cms_config.get('latitude','') }}, {{ cms_config.get('longitude','') }});
    </script>
    <script type="text/javascript">
        (function() {
            var cl = document.createElement('script'); cl.type = 'text/javascript'; cl.async = true;
            cl.src = 'http://cookies.lemonadestudio.pl/scripts/cookie-info-v2.min.js';
            var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(cl, c);
        })();
    </script>
    {{ cms_config.get('google_analitics','')|raw }}
{% endblock %}
</body>
</html>