{% extends '::base.html.twig' %}

{% block title %}Nasz zespół - {{ parent() }}{% endblock %}

{% block contentright %}
    <div class="content-container zespol-list-container">
        <h1 class="content-title">Nasz zespół</h1>
        {% for specjalizacja in zespol %}
            <h3 class="content-subtitle">{{ specjalizacja.name }}</h3>
            {% for osoba in specjalizacja.zespol %}
                <div class="item">
                    <a href="{{ path('ls_main_zespol_show', {'slug': osoba.slug}) }}" class="photo">
                        <img src="{{ osoba.getThumbWebPath('list') }}?{{ random(10000) }}" />
                        <span class="mask">czytaj więcej</span>
                    </a>

                    <div class="title">{{ osoba.title }}</div>
                    <div class="name">{{ osoba.name }}</div>
                    <div class="position">{{ osoba.position }}</div>
                </div>
                {% if loop.index is divisibleby(3) %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
            <div class="clearfix"></div>
        {% endfor %}
    </div>
{% endblock %}

{% block contentleft %}
    <div class="news">
        {% include "LsMainBundle::news_left.html.twig" with {'news': news} %}
    </div>
    <div class="opinie">
        {% include "LsMainBundle::opinia_left.html.twig" %}
    </div>
{% endblock %}