{% extends '::base.html.twig' %}

{% block title %}Nasz zespół - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block contentright %}
    <div class="content-container zespol-container">
        <h1 class="content-title">Nasz zespół</h1>

        <h3 class="content-subtitle">{{ entity.specjalizacja.name }}</h3>

        <div class="item">
            {% if entity.getPhotoWebPath != null %}
                <div class="photo">
                    <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}" />
                </div>
            {% endif %}
            <div class="rest{% if entity.getPhotoWebPath != null %} has-photo{% endif %}">
                <div class="title">{{ entity.title }}</div>
                <div class="name">{{ entity.name }}</div>
                <div class="content-text">{{ entity.content|raw }}</div>
            </div>
            <div class="clearfix"></div>
        </div>
        {% if other|length > 0 %}
            <h3 class="content-subtitle" style="padding-top: 74px;">Pozostali lekarze tej specjalizacji:</h3>
            {% for osoba in other %}
                <div class="item-other">
                    <a href="{{ path('ls_main_zespol_show', {'slug': osoba.slug}) }}" class="photo">
                        <img src="{{ osoba.getThumbWebPath('list') }}?{{ random(10000) }}" />
                        <span class="mask">czytaj więcej</span>
                    </a>

                    <div class="title">{{ osoba.title }}</div>
                    <div class="name">{{ osoba.name }}</div>
                    <div class="position">{{ osoba.position }}</div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        {% endif %}
    </div>
{% endblock %}

{% block contentleft %}
    <div class="news">
        {% include "LsMainBundle::news_left.html.twig" with {'news': news} %}
    </div>
    <div class="opinie">
        {% include "LsMainBundle::opinia_left.html.twig" %}
    </div>
{% endblock %}