{% extends '::admin.html.twig' %}
{% form_theme form with 'LsAdminBundle::fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this);
            var numFiles = input.get(0).files ? input.get(0).files.length : 1;
            var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text');
                var log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                    {{ form_errors(form.title) }}
                    {{ form_errors(form.name) }}
                    {{ form_errors(form.position) }}
                    {{ form_errors(form.file) }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_zespol') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <ul class="nav nav-tabs pills">
                <li class="active">
                    <a data-toggle="tab" href="#tab-ustawienia">Treść</a>
                </li>
                {# <li>
                    <a data-toggle="tab" href="#tab-photo">Zdjęcie</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-seo">SEO</a>
                </li> #}
            </ul>

            <div class="tab-content" style="margin-top: 15px;">
                <div id="tab-ustawienia" class="tab-pane active">
                    {# <div class="form-group{% if form.specjalizacja.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.specjalizacja, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.specjalizacja, {'attr': {'class': 'form-control' }}) }}
                            {% if form.specjalizacja.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div> #}
                    <div class="form-group{% if form.title.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
                            {% if form.title.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
                    {# <div class="form-group{% if form.name.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
                            {% if form.name.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div> #}
                    <div class="form-group">
                         {{ form_label(form.gallery, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.gallery)}}
                        </div>
                    </div>
                    {# <div class="form-group{% if form.position.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.position, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.position, {'attr': {'class': 'form-control' }}) }}
                            {% if form.position.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div> #}
                    {# <div class="form-group">
                        {{ form_label(form.content, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.content, {'attr': {'class': 'wysiwyg' }}) }}
                        </div>
                    </div> #}
                </div>
                <div id="tab-photo" class="tab-pane">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="control-label col-sm-3">&nbsp;</div>
                        <div class="col-sm-9">
                            <p class="help-block">Nie mniejsze niż {{ size.width }} x {{ size.height }} px</p>
                        </div>
                    </div>
                    <div class="form-group{% if form.file.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.file, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control" type="text" readonly="readonly" autocomplete="off">
                                <span class="input-group-btn">
                                    <span class="btn{% if form.file.vars.errors|length %} btn-danger{% else %} btn-default{% endif %} btn-file">
                                        Przeglądaj... {{ form_widget(form.file) }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% if entity.getPhotoWebPath != null %}
                        <div class="form-group">
                            <div class="control-label col-sm-3">Aktualne zdjęcie</div>
                            <div class="col-sm-9">
                                <img src="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" style="max-width:100%; height:auto;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-3">&nbsp;</div>
                            <div class="col-sm-9">
                                <p class="help-block">Kliknij w miniaturkę aby wykadrować</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-3">Miniatura na listę</div>
                            <div class="col-sm-9">
                                <a href="{{ path('ls_admin_zespol_crop', {'id': entity.id, 'type' : 'list'}) }}" title="Kadruj zdjęcie" style="display: block; cursor: pointer; float: left;" />
                                <img src="{{ entity.getThumbWebPath('list') }}?{{ random(10000) }}" style="max-width:100%; height:auto;" />
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-3">Miniatura do szczegółów</div>
                            <div class="col-sm-9">
                                <a href="{{ path('ls_admin_zespol_crop', {'id': entity.id, 'type' : 'detail'}) }}" title="Kadruj zdjęcie" style="display: block; cursor: pointer; float: left;" />
                                <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}" style="max-width:100%; height:auto;" />
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-3">Miniatura na stronę główną</div>
                            <div class="col-sm-9">
                                <a href="{{ path('ls_admin_zespol_crop', {'id': entity.id, 'type' : 'main'}) }}" title="Kadruj zdjęcie" style="display: block; cursor: pointer; float: left;" />
                                <img src="{{ entity.getThumbWebPath('main') }}?{{ random(10000) }}" style="max-width:100%; height:auto;" />
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div id="tab-seo" class="tab-pane">
                    <div class="form-group">
                        {{ form_label(form.slug, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.slug, {'attr': {'class': 'form-control' }}) }}
                            <p class="help-block">Element linku URL identyfikujący członka zespołu np. http://www.test.pl/zespol/<b>imie-nazwisko</b>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            {{ form_widget(form.seo_generate) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.seo_title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.seo_title, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.seo_keywords, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.seo_keywords, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.seo_description, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.seo_description, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                    {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}