{% extends '::admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">{{ wo_render_breadcrumbs() }}</div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <table class="table">
                <tbody>
                <tr class="active">
                    <td colspan="2"><b>Zarządzanie treścią</b></td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Menu</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_menu') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Segmenty na głównej</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            {# <a href="{{ path('ls_admin_page_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a> #}
                            <a href="{{ path('ls_admin_page') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Oferta</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            {# <a href="{{ path('ls_admin_oferta_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a> #}
                            <a href="{{ path('ls_admin_oferta') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Realizacje</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_zespol') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Produkty</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_product_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a>
                            <a href="{{ path('ls_admin_product') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Co nas wyróżnia</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_difference_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a>
                            <a href="{{ path('ls_admin_difference') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Aktualności</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_news_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a>
                            <a href="{{ path('ls_admin_news') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Logotypy</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_icon_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a>
                            <a href="{{ path('ls_admin_icon') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Opinie</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_opinia_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a>
                            <a href="{{ path('ls_admin_opinia') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr class="active">
                        <td colspan="2"><b>Multimedia</b></td>
                    </tr>
                    <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Galerie</b></td>
                        <td class="col-xs-8">
                            <div class="btn-group">
                                <a href="{{ path('ls_admin_gallery_new') }}" class="btn btn-link">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Dodaj
                                </a>
                                <a href="{{ path('ls_admin_gallery') }}" class="btn btn-link">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                    Zarządzaj
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                <tr class="active">
                    <td colspan="2"><b>Inne</b></td>
                </tr>
                {# <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Specjalizacje</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_zespol_specjalizacja_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a>
                            <a href="{{ path('ls_admin_zespol_specjalizacja') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr> #}
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Ustawienia</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_setting_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a>
                            <a href="{{ path('ls_admin_setting') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                <tr class="active">
                    <td colspan="2"><b>Użytkownicy</b></td>
                </tr>
                <tr>
                    <td class="col-xs-4 text-right vert-align"><b>Użytkownicy</b></td>
                    <td class="col-xs-8">
                        <div class="btn-group">
                            <a href="{{ path('ls_admin_user_new') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Dodaj
                            </a>
                            <a href="{{ path('ls_admin_user') }}" class="btn btn-link">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                Zarządzaj
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}