{% extends '::base.html.twig' %}

{% block title %}Oferta - {{ parent() }}{% endblock %}

{% block contentright %}
    <div class="content-container badanie-list-container">
        <h1 class="content-title">Oferta</h1>
        {% for badanie in badania %}
            <div class="item">
                <a href="{{ path('ls_main_badanie_show', {'slug': badanie.slug}) }}">{{ badanie.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block contentleft %}
    <div class="news">
        {% include "LsMainBundle::news_left.html.twig" with {'news': news} %}
    </div>
    <div class="opinie">
        {% include "LsMainBundle::opinia_left.html.twig" %}
    </div>
{% endblock %}