{% extends '::base.html.twig' %}

{% block title %}Oferta - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block contentright %}
    <div class="content-container badanie-container">
        <h1 class="content-title">Oferta</h1>

        <div class="content-subtitle">{{ entity.title }}</div>
        <div class="content-text">{{ entity.content|raw }}</div>
    </div>
{% endblock %}

{% block contentleft %}
    <div class="news">
        {% include "LsMainBundle::news_left.html.twig" with {'news': news} %}
    </div>
    <div class="opinie">
        {% include "LsMainBundle::opinia_left.html.twig" %}
    </div>
{% endblock %}