{% extends '::base.html.twig' %}

{% block seo_title %}{{ cms_config.get('offer_list_title','') }}{% endblock %}
{% block seo_description %}{{ cms_config.get('offer_list_description','') }}{% endblock %}

{% block menu %}
    <div id="top" class="site">
        <div class="container">
            <a href="{{ path('ls_main_homepage') }}" id="logo">
                <img src="{{ asset('bundles/lsmain/images/logo.png') }}" alt="entros"/>
            </a>
            <ul id="menu_top">
                <li id="back_small"><a href="{{ path('ls_main_homepage') }}" data-href="">Powrót</a></li>
                <li id="back_large"><a href="{{ path('ls_main_homepage') }}" data-href="">Wróć do strony głównej</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div id="base">
        <div class="background"></div>
        <div class="container">
            <div class="content">
                <h2>Oferta</h2>
                <p class="head">
                    {{offer.2.content | nl2br}}
                </p>
                <p>
                    {{offer.1.content | nl2br}}
                </p>
                <p>
                    {{offer.0.content | nl2br}}
                </p>
                
            </div>
            {% for product in products %}
                <div class="item elem_{{ loop.index }}">
                    <img src="{{product.getThumbWebPath('list')}}" />
                    <div><h4>{{product.title |nl2br}}</h4>
                    	{% if product.slug == 'serwis' %}
                    		<a href="http://entros-serwis.pl/" target="_blank" class="details">Zobacz szczegóły</a>
                    	{% else %}
                        	<a href="{{path('ls_main_oferta_show', {'slug': product.slug})}}" class="details">Zobacz szczegóły</a>
                    	{% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="clear"></div>
            {% if certyficates != null %}
                <div class="certificates">
                    <h3>Certyfikaty</h3>
                    <div>
                        {% for photo in certyficates.photos %}
                            <img src="{{photo.getThumbWebPath('cert')}}"/>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block footer %}
    <div id="footer">
        <div class="container">
            {% set counter = 1 %}
                <ul id="menu_bottom" style="height: auto;">
                    {% for menu in menuBottom %}
                        {% if opinia.0 is defined %}
                            {% if counter == 1 %}
                                <li class="first">
                            {% elseif counter == 5 %}
                                <li class="last">
                            {% else %}
                                <li>
                            {% endif %}
                                <a href="/{{ menu.uri }}">{{ menu.name }}</a>
                            </li>
                        {% elseif menu.uri != "#experience" %}
                            {% if counter == 1 %}
                                <li class="first">
                            {% elseif counter == 5 %}
                                <li class="last">
                            {% else %}
                                <li>
                            {% endif %}
                                <a href="/{{ menu.uri }}">{{ menu.name }}</a>
                            </li>
                        {% endif %}
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </ul>
            {# {{ knp_menu_render(menuBottom, {'template': 'LsMainBundle::customMenu.html.twig'}) }}  #}
            <div id="footer_info">
                <div id="copyrights">© Wszelkie prawa zastrzeżone - <a>Entros Sp. z o.o.</a> - 2015</div>
                <div id="realization">Projekt i realizacja: <a class="lemonade">Lemonade Studio</a></div>
            </div>
        </div>
    </div>
{% endblock %}