{% extends '::base.html.twig' %}

{% block seo_title %}{{ product.seotitle }}{% endblock %}
{% block seo_description %}{{ product.seodescription }}{% endblock %}
{% block seo_keywords %}{{ product.seokeywords }}{% endblock %}

{% block menu %}
    <div id="top" class="site">
        <div class="container">
            <a href="{{ path('ls_main_homepage') }}" id="logo">
                <img src="{{ asset('bundles/lsmain/images/logo.png') }}" alt="entros" />
            </a>
            <ul id="menu_top">
                <li id="back_small"><a href="{{ path('ls_main_oferta') }}" data-href="">Powrót</a></li>
                <li class="back_large"><a href="{{ path('ls_main_homepage') }}#contact" data-href="">Kontakt</a></li>
                <li class="back_large"><a href="{{ path('ls_main_oferta') }}" data-href="">Wróć do oferty</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div id="base">
        <div class="background product"></div>
        <div class="container product">
            <div class="content no-bg">
                {# {{dump(product)}} #}
                <div class="left">
                    <h2>{{ product.title }}</h2>

                    <p class="head">
                        {{ product.contentshort |raw }}
                    </p>

                <span class="teasers">
                    {{ product.content | raw }}
                </span>

                    {% for element in sections %}
                        <div class="element">
                            <h3>{{ element.title }}</h3>

                            <div class="to-hide">
                                {{ element.content | raw }}
                                <div class="clear"></div>
                                <div class="element_items">
                                    {% if section_pictures[element.id] != null %}
                                        {% for picture in section_pictures[element.id] %}
                                            <div class="element_item">
                                                <a class="fancybox" href="{{ picture.getPhotoWebPath() }}" title="{{ picture.description }}" rel="gallery">
                                                    <img src="{{ picture.getThumbWebPath('detail') }}" />
                                                </a>
                                                {{ picture.description | raw }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if section_pictures[element.id] != null or element.content != null %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="right">
                    <div class="download">
                        <h4>Materiały do pobrania</h4>
                        {% for file in files %}
                            {% set fileinfo = file.checkFileSize() %}
                            <div class="item {{ file.checkFileExt() }}">
                                <p>
                                    <a href="{{ file.getFileWebPath() }}">{{ file.filename }}</a><b>({{ fileinfo.size }} {{ fileinfo.unit }})</b>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    {% if produkt_pictures != null %}
                        <h4>Galeria:</h4>
                        <div class="gallery">
                            {% for pictures in produkt_pictures %}
                                <a class="fancybox" href="{{ pictures.getPhotoWebPath() }}" title="{{ pictures.description }}" rel="gallery">
                                    <img src="{{ pictures.getThumbWebPath('list') }}?{{ random(10000) }}" />
                                    <span class="mask"></span>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="other_products">
                <h3>Pozostałe produkty</h3>

                <div class="clear"></div>
                {% for prod in products %}
                    <div class="item elem_{{ loop.index }}">
                        <img src="{{ prod.getThumbWebPath('list') }}" />

                        <div><h4>{{ prod.title |nl2br }}</h4>
                            <a href="{{ path('ls_main_oferta_show', {'slug': prod.slug}) }}" class="details">Zobacz szczegóły</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id="footer">
        <div class="container">
            {% set counter = 1 %}
            <ul id="menu_bottom" style="height: auto;">
                {% for menu in menuBottom %}
                    {% if opinia.0 is defined %}
                        {% if counter == 1 %}
                            <li class="first">
                        {% elseif counter == 5 %}
                            <li class="last">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="/{{ menu.uri }}">{{ menu.name }}</a>
                        </li>
                    {% elseif menu.uri != "#experience" %}
                        {% if counter == 1 %}
                            <li class="first">
                        {% elseif counter == 5 %}
                            <li class="last">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="/{{ menu.uri }}">{{ menu.name }}</a>
                        </li>
                    {% endif %}
                    {% set counter = counter + 1 %}
                {% endfor %}
            </ul>
            {# {{ knp_menu_render(menuBottom, {'template': 'LsMainBundle::customMenu.html.twig'}) }}  #}
            <div id="footer_info">
                <div id="copyrights">© Wszelkie prawa zastrzeżone - <a>Entros Sp. z o.o.</a> - 2015</div>
                <div id="realization">Projekt i realizacja: <a class="lemonade">Lemonade Studio</a></div>
            </div>
        </div>
    </div>
{% endblock %}
