{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block contentbottom %}
    {% if entity.icons|length > 0 %}
        <div class="page-icons">
            {% for icon in entity.icons %}
                <img src="{{ icon.getPhotoWebPath() }}?{{ random(10000) }}" />
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block contentright %}
    <div class="content-container page-container{% if entity.icons|length > 0 %} page-icon-container{% endif %}">
        <h1 class="content-title">{{ entity.title }}</h1>

        <div class="content-text">{{ entity.content|raw }}</div>
    </div>
{% endblock %}

{% block contentleft %}
    <div class="news">
        {% include "LsMainBundle::news_left.html.twig" with {'news': news} %}
    </div>
    <div class="opinie">
        {% include "LsMainBundle::opinia_left.html.twig" %}
    </div>
{% endblock %}