<div class="separator-top"></div>
<div class="header">
    <div class="top">&nbsp;</div>
    <div class="bottom">Aktualności</div>
</div>
{% for article in news %}
    <div class="item">
        <div class="date">{{ article.publishedat|date('d.m.Y') }}</div>
        <a href="{{ path('ls_main_news_show', {'slug': article.slug}) }}" class="title">{{ article.title }}</a>

        <div class="separator"></div>
        <div class="text">{{ article.contentshort }}</div>
        <a href="{{ path('ls_main_news_show', {'slug': article.slug}) }}" class="more">czytaj dalej</a>

        <div class="clearfix"></div>
    </div>
{% endfor %}
