<div class="separator-top"></div>
<div class="header">
    <div class="top">Opinie</div>
    <div class="bottom">Pacjentów</div>
</div>
<div class="item">
    {% if opinia_main != null %}
        <div class="text">{{ opinia_main.content }}</div>
        <div class="rest">{{ opinia_main.name }}{% if opinia_main.age %}, {{ opinia_main.age }}{% endif %}{% if opinia_main.city %}, {{ opinia_main.city }}{% endif %}</div>
    {% endif %}
</div>
<div class="buttons">
    <a href="{{ path('ls_main_opinia') }}" class="list">Zobacz wszystkie</a>

    <div class="show-form">Dodaj własną</div>
</div>
