{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <ul class="newsPaginate clearfix">
        {% for page in pagesInRange %}
            <li>
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                {% else %}
                    <a class="active" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
