<div class="separator-top"></div>
<div class="header">
    <div class="top">Nasz</div>
    <div class="bottom">Zespół</div>
</div>
<div class="slider">
    {% for osoba in zespol %}
        <div id="zespol-left-item-{{ loop.index }}" class="item">
            <a href="{{ path('ls_main_zespol_show', {'slug': osoba.slug}) }}" class="photo">
                <img src="{{ osoba.getThumbWebPath('list') }}?{{ random(10000) }}" />
                <span class="mask">czytaj więcej</span>
            </a>

            <div class="title">{{ osoba.title }}</div>
            <div class="name">{{ osoba.name }}</div>
            <div class="position">{{ osoba.position }}</div>
        </div>
    {% endfor %}
</div>
