{% extends '::admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var old_location = '';

        var add_url = '{{ path('ls_admin_menu_new') }}';
        var edit_url = '{{ path('ls_admin_menu_edit', {id: 'ID'}) }}';
        var list_url = '{{ path('ls_admin_menu') }}';
        var save_order_url = '{{ path('ls_admin_menu_saveorder') }}';
        var result_list;
        var reload_list = false;

        function saveMenuItemCallback(ret) {
            if (ret.result == 'ok') {
                id = ret.objectId;

                // zapisanie kolejności i odświeżenie listy

                if ($('div.editing').parent().hasClass('new')) {
                    $('div.editing').parent().attr('id', 'list_' + id);
                }
                reload_list = true;
                $(".menuitems-saveorder-button").each(function () {
                    if ($(this).parent().find('#list_' + id).size() > 0) {
                        $(this).click();
                    }
                });

            }
        }

        $(document).on('click', '.btn-cancel', function () {
            $('ol.sortable li div').removeClass('editing');
            $('ol.not-sortable li div').removeClass('editing');
            $('#menu-item-edit').html('');
        });

        $(document).on('click', '.menu-group-link', function () {
            if ($(this).attr('id').replace('a_', '') !== old_location) {
                old_location = $(this).attr('id').replace('a_', '');
                $('ol.sortable li div').removeClass('editing');
                $('ol.not-sortable li div').removeClass('editing');
                $('#menu-item-edit').html('');
            }
        });

        $(document).on('click', '.menuitems-saveorder-button', function () {
            // ajax zapisujący kolejność

            var list = $(this).parent().find('ol.sortable').sortable("serialize").get();

            $.ajax({
                type: 'POST',
                url: save_order_url,
                data: {
                    elements: list
                },
                success: function (response) {
                    location.reload();
                }
            });
        });

        $(document).on('click', 'ol.sortable li div', function () {
            var id = $(this).parent('li').attr('id').substr(5);
            var url = edit_url.replace('ID', id);

            $('ol.sortable li div').removeClass('editing');
            $('ol.not-sortable li div').removeClass('editing');
            $(this).addClass('editing');
            $('#menu-item-edit').load(url);
        });

        $(document).on('click', 'ol.not-sortable li div', function () {
            var id = $(this).parent('li').attr('id').substr(5);

            $('ol.sortable li div').removeClass('editing');
            $('ol.not-sortable li div').removeClass('editing');
            $(this).addClass('editing');

            $('#menu-item-edit').load(add_url, function (data) {
                $('#form_admin_menuitem_location').val(id.substr(4));
            });
        });

        $(document).on('click', '#confirm-delete .btn-ok', function (event) {
            var url = $('#delete-button').data('href');

            $.ajax({
                type: 'POST',
                url: url,
                success: function (response) {
                    if (response.result === 'ok') {
                        if ((saveMenuItemCallback !== undefined) && (typeof saveMenuItemCallback === 'function')) {
                            saveMenuItemCallback(response);
                        } else {
                            alert('ok');
                        }
                    } else {
                        $('form#form_admin_menuitem').parent('div').parent('div').parent('div').html(response);
                    }

                }
            });
        });

        $(document).ready(function () {
            old_location = $('.nav-tabs').children('.active').children('.menu-group-link').attr('id').replace('a_', '');

            $('ol.sortable').sortable({
                serialize: function (parent, children, isContainer) {
                    var id = parent.attr('id');

                    var item = {
                        id: id
                    };
                    var result = $.extend({}, item);

                    if (isContainer)
                        return children;
                    else if (children[0]) {
                        result.children = children;
                    }

                    return result;
                }
            });
        });
    </script>
{% endblock %}

{% block nested_list_elements %}
    {% for element in elements %}
        <li id="list_{{ element.id }}">
            <div>{{ element.title }}</div>
            <ol>
                {% if element.getChildren|length > 0 %}
                    {% set elements = element.getChildren %}
                    {{ block('nested_list_elements') }}
                {% endif %}
            </ol>
        </li>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">{{ wo_render_breadcrumbs() }}</div>
    </div>

    <div class="row">
        <div id="menu-edit-lists" class="col-md-4" style="margin-bottom: 1em;">
            <ul class="nav nav-tabs pills">
                {% for mname, menu in menus %}
                    <li class="{% if loop.first %}active{% endif %}">
                        <a data-toggle="tab" class="menu-group-link" id="a_{{ mname }}" href="#menu-{{ mname }}">{{ menu.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for mname, menu in menus %}
                    <div id="menu-{{ mname }}" class="tab-pane {% if loop.first %}active{% endif %}">
                        <ol class="sortable">
                            {% set elements = menu.items %}
                            {{ block('nested_list_elements') }}
                        </ol>

                        <ol class="not-sortable breadcrumb">
                            <li class="new" id="list_new_{{ mname }}">
                                <div>Dodaj nowy ...</div>
                            </li>
                        </ol>

                        <p>
                            <small>Przeciągaj elementy aby ustalić kolejność po czym kliknij "Zapisz kolejność"</small>
                        </p>
                        <input type="button" class="menuitems-saveorder-button btn btn-default" value="Zapisz kolejność" />

                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="menu-item-edit" class="col-md-8" style="margin-bottom: 1em;"></div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4>Usuwanie elementu menu</h4></div>
                <div class="modal-body">Czy napewno chcesz usunąć ten element menu?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <a class="btn btn-danger btn-ok">Usuń</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
