{% extends '::base.html.twig' %}

{% block seo_title %}Aktualności{% endblock %}

{% block menu %}
    <div id="top" class="site">
    <div class="container">
        <a href="{{ path('ls_main_homepage') }}" id="logo">
            <img src="{{ asset('bundles/lsmain/images/logo.png') }}" alt="entros"/>
        </a>
        <ul id="menu_top">
            <li id="back_small"><a href="{{ path('ls_main_homepage') }}" data-href="">Powrót</a></li>
            <li id="back_large"><a href="{{ path('ls_main_homepage') }}" data-href="">Wróć do strony głównej</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block container %}
<div id="base">
    <div class="background news"></div>
    <div class="container news">
        <h2>Aktualności</h2>
        <div class="newsItems">
            {% for article in entities %}
                <div class="newsItem" itemscope itemtype="http://schema.org/NewsArticle">
                    <meta itemprop="datePublished" content="{{ article.publishedat | date('Y-m-d\\TH:i:sP') }}" />
                    <meta itemprop="dateModified" content="{{ article.updatedat | date('Y-m-d\\TH:i:sP') }}" />
                    <meta itemprop="description" content="{{ article.seodescription }}" />
                    <a class="title" href="{{ path('ls_main_news_show',{'slug': article.slug} ) }}">
                        <span itemprop="headline">{{ article.title }}</span>
                    </a>
                    <div class="date">{{ article.publishedat|date('d.m.Y') }}</div>
                    <div class="desc">{{ article.contentshort }}</div>
                    <div>
                        <a class="more" href="{{ path('ls_main_news_show', { 'slug': article.slug }) }}">Dowiedz się więcej</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(entities) }}
    </div>
</div>
{% endblock %}

{% block footer %}
    <div id="footer">
        <div class="container">
            {% set counter = 1 %}
            <ul id="menu_bottom" style="height: auto;">
                {% for menu in menuBottom %}
                    {% if opinia.0 is defined %}
                        {% if counter == 1 %}
                            <li class="first">
                        {% elseif counter == 5 %}
                            <li class="last">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="/{{ menu.uri }}">{{ menu.name }}</a>
                        </li>
                    {% elseif menu.uri != "#experience" %}
                        {% if counter == 1 %}
                            <li class="first">
                        {% elseif counter == 5 %}
                            <li class="last">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="/{{ menu.uri }}">{{ menu.name }}</a>
                        </li>
                    {% endif %}
                    {% set counter = counter + 1 %}
                {% endfor %}
            </ul>
            {# {{ knp_menu_render(menuBottom, {'template': 'LsMainBundle::customMenu.html.twig'}) }}  #}
            <div id="footer_info">
                <div id="copyrights">© Wszelkie prawa zastrzeżone - <a>Entros Sp. z o.o.</a> - 2015</div>
                <div id="realization">Projekt i realizacja: <a class="lemonade">Lemonade Studio</a></div>
            </div>
        </div>
    </div>
{% endblock %}