{% extends '::base.html.twig' %}

{% block seo_title %}{{ entity.seotitle }}{% endblock %}
{% block seo_description %}{{ entity.seodescription }}{% endblock %}
{% block seo_keywords %}{{ entity.seokeywords }}{% endblock %}

{% block menu %}
    <div id="top" class="site">
        <div class="container">
            <a href="{{ path('ls_main_homepage') }}" id="logo">
                <img src="{{ asset('bundles/lsmain/images/logo.png') }}" alt="entros" />
            </a>
            <ul id="menu_top">
                <li id="back_small"><a href="{{ path('ls_main_news') }}" data-href="">Powrót</a></li>
                <li class="back_large"><a href="{{ path('ls_main_homepage') }}#contact" data-href="">Kontakt</a></li>
                <li class="back_large"><a href="{{ path('ls_main_news') }}" data-href="">Wróć do aktualności</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div id="base">
        <div class="background news"></div>
        <div class="container news">
            <h2>Aktualności</h2>

            <div class="newsDetail clearfix" itemscope itemtype="http://schema.org/NewsArticle">
                <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ url('ls_main_news_show',{'slug': entity.slug} ) }}"/>
                <meta itemprop="datePublished" content="{{ entity.publishedat | date('Y-m-d\\TH:i:sP') }}" />
                <meta itemprop="dateModified" content="{{ entity.updatedat | date('Y-m-d\\TH:i:sP') }}" />
                <meta itemprop="description" content="{{ entity.seodescription }}" />
                <div class="newsLeft element">
                    <h1 itemprop="headline">{{ entity.title }}</h1>

                    <div class="date">{{ entity.publishedat | date('d.m.Y') }}</div>
                    <div class="text">{{ entity.content | raw }}</div>
                    <div class="gallery clearfix">
                        {% if entity.gallery.photos is defined %}
                            {% for photo in entity.gallery.photos %}
                                <a>
                                    <img src="{{ photo.getPhotoWebPath() }}" />
                                    <span class="mask"></span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="newsRight">
                    <h2>Pozostałe wiadomości:</h2>
                    <div class="newsItems">
                        {% for info in news %}
                            <div class="newsItem" itemscope itemtype="http://schema.org/NewsArticle">
                                <meta itemprop="datePublished" content="{{ info.publishedat | date('Y-m-d\\TH:i:sP') }}" />
                                <meta itemprop="dateModified" content="{{ info.updatedat | date('Y-m-d\\TH:i:sP') }}" />
                                <meta itemprop="description" content="{{ info.seodescription }}" />
                                <a href="{{ path('ls_main_news_show',{'slug': info.slug} ) }}" class="title">
                                    <span itemprop="headline">{{ info.title }}</span>
                                </a>
                                <div class="date">{{ info.publishedat | date('d.m.Y') }}</div>
                                <div class="desc">{{ info.contentshort }}</div>
                                <div>
                                    <a class="more" href="{{ path('ls_main_news_show',{'slug': info.slug} ) }}">Dowiedz się więcej</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block footer %}
    <div id="footer">
        <div class="container">
            {% set counter = 1 %}
            <ul id="menu_bottom" style="height: auto;">
                {% for menu in menuBottom %}
                    {% if opinia.0 is defined %}
                        {% if counter == 1 %}
                            <li class="first">
                        {% elseif counter == 5 %}
                            <li class="last">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="/{{ menu.uri }}">{{ menu.name }}</a>
                        </li>
                    {% elseif menu.uri != "#experience" %}
                        {% if counter == 1 %}
                            <li class="first">
                        {% elseif counter == 5 %}
                            <li class="last">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="/{{ menu.uri }}">{{ menu.name }}</a>
                        </li>
                    {% endif %}
                    {% set counter = counter + 1 %}
                {% endfor %}
            </ul>
            {# {{ knp_menu_render(menuBottom, {'template': 'LsMainBundle::customMenu.html.twig'}) }}  #}
            <div id="footer_info">
                <div id="copyrights">© Wszelkie prawa zastrzeżone - <a>Entros Sp. z o.o.</a> - 2015</div>
                <div id="realization">Projekt i realizacja: <a class="lemonade">Lemonade Studio</a></div>
            </div>
        </div>
    </div>
{% endblock %}
